//======= Variables ============= //

	$white: #fff;
	$brown: #140904;
	$medium-brown:#6e5239;
	$light-brown: #9c8977;
	$gold:  #e1a829;
	$beige: #f5e6d7;
	$red:#db4229;
	$dark:#232323;
	$blue: #7a88cb; 
	$green: #809f5c;
	$brand-brown: #6a5e59;


//======= End:Variables ========= //

html,body{
	background:transparent;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 

img{
	max-width:100%;
	height:auto;
} 

* { 
	outline: none;
	box-sizing:border-box;
 }
 

 
 
a:link{
	text-decoration:none;
}

*:focus{
	background:transparent!important;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}

h1 { 
} 
h2 {
	font-size:26px;
	margin:50px 0;
	font-weight:300;
}
h3 {}
h4 {
	font-size:16px;
	margin:20px 0;
}
h5 {}
h6 {}

p{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: $white;
	font-weight: 300;
	line-height: 1.7;

} 

a, i , button, span, input, select, textarea {
   transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
ul{
	padding:0;
	margin:0;
	li{
		padding: 0;
		margin:0;
	}
}

.customTransition{
   transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.container{
	max-width:1180px; 
}

/* main-search */
#main-search-filed {
	position: absolute;
	z-index: 9999;
	background: rgba(0,0,0,.9);
	display: none;
	margin-top: 63px;
	width: 100%;
	height: 75px;
		input {
		background: none;
		font-size: 30px;
		font-weight: 300;
		color: #fff;
		line-height: 75px;
		width: 70%;
		height: 75px;
		float: left;
		border:none;
	}
	button {
		margin-top: 15px;
		width: 45px;
		height: 45px;
		float: right;
		background: $gold;
		border: none;
		color:#fff;
	} 
}


.navbar{ 
	background:transparent;
	border-bottom:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1;

	.navbar-brand{
		padding-top: 0;
		padding-bottom:0;
		padding-right:10px!important; 
	}
	.brand-nespresso{
		padding-top: 20px;
		position: relative;
		&:after{
			content: " ";
			width: 1px;
			height: 85px;
			position: absolute;
			right: -50px;
			top:0px;
			background: $gold;
			display: block;
		}
	}
 
	.navbar-collapse{ 
		position:relative;
	}
 
	.nav{ 
		 
		padding-left:10px;
	 
		li{
			position:relative;
			padding:0;
		 	margin:0px 5px; 
			 a{
				line-height: 75px;
				padding-top: 0;
				padding-bottom:0;
				padding-left: 12px;
				padding-right:12px;
				color:$white; 
				text-shadow:none;
				font-size: 14px;
				text-align: center!important;
				position:relative;
				font-weight: 400; 
			
			}
			&:after{
					content: "";
					width: 1px;
					height: 10px;
					background: $light-brown;
					position:absolute;
					right: -5px;
					top:32.5px;
					display: inline-block; 
				} 
			&:hover{ 
				a{  
					text-shadow: none; 
					background: transparent;
					color: $gold;
				}
				
			}


			.dropdown-menu{
				position: absolute;
				left:0;
				top:100%;
				width: 100%!important;
				max-width: 1180px;
				border:none;
				-webkit-appearance:none;
				box-shadow:none;
				border-radius:0;
				padding:0 0;
				opacity: 0;  

				li{
					display: inline-block; 
					width: 24.999%;
					margin:0;
					padding:0; 
					float:left;
					background-color:$white!important; 
					&:hover{
						background: $white;
					}
					> a{
						line-height: auto; 
						padding: 10px 8px;
						p{
							position:absolute;
							top:0;
							left:0; 
							z-index: 100; 
							float: left;
							font-size: 18px;
							color: $brown; 
							line-height: 100%;
							background:$white;
							padding:13px 16px;
							&:before{
								content:"";
								width: 0; 
								height: 0; 
								border-top: 44px solid $white; 
								border-right: 44px solid transparent; 
								position:absolute;
								right:-44px;
								top:0;  
							} 
						}
						.navThumb{  
							background:$white;
							width: 100%;
							height: auto;
							padding-bottom:10px;
							float: left; 
							img{
								width: 100%;
								height: auto;
								mix-blend-mode: multiply;
							} 
							  span{
								  transition: background-color .5s ease-out;
								  isolation: isolate;
								  background-color: #543521;
								  width: 100%;
								  height: 100%;
								  float: left; 
							 }
							 
						}
						.current{ 
							span{
								background-color:transparent;
							}
						} 
						&:hover{
							background:$white;
							.navThumb{
								span{
									background-color: transparent; 
								}
							}
						} 
					}
				}

			}
		}


		.dropdown{
			position: static;
			background: transparent; 
			 
			&:hover{
				background: $white!important;
				color:$gold;
			}
			&:focus{
					background-color:transparent;
				} 
		}
		.current{
			background:$gold;
			a{
				&:hover{
					color: $dark;
				}
			} 
		}
		.open{
			position:static;
			background: transparent;
			box-shadow: none;
			background-: transparent;

			> a{ 
				box-shadow: none;
				background:none;
				color: $brown!important; 
				&:focus{
					background-color:transparent;
				}
				&:hover{
					color: $brown!important;
				}
			}
		  
			.dropdown-menu{
				display: inline-block;
				margin:0 auto;
				opacity: 1;
				transition: visibility 0s, opacity 1.5s linear;
			}
			&:hover{
				a{
					background: transparent;
				}
			} 
		} 
	}

	
	.lang{ 
		float: left; 
		margin:0;
		padding-left: 0;
		li{
			list-style:none;
			display: inline-block;
			> a{
				line-height: 75px; 
				color: $white;
				padding-left:10px;
			}
			&:first-child{

				&:after{
					content: "";
					width: 1px;
					height: 10px;
					background: $gold;
					position:relative;
					right: -5px;
					display: inline-block;
				}
			}
			&:after{display:none;} 
		} 
	}



	.fa-search{
		color: $white;
		margin-top: 30px;
    	margin-left: 14px;
    	font-size: 14px;
    	&:hover{
    		color: $gold;
    		cursor: pointer;
    	}
	}
}
.btn{
	line-height:100%;
	border-radius:0;
}
.btn-custom{
	background:transparent;
	font-family: 'Lato', sans-serif;
	padding:15px 20px; 
}
.btn-white{
	border:1px solid $white;
	color:$white; 
	font-size:12px;
	&:hover{
		background: $white;
		border-color:transparent;
		color: $brown;
	}
}

.btn-brown{
	border:1px solid $medium-brown;  
	color:$brown;
	font-size:12px;
	&:hover{
		background: $medium-brown;
		border-color:transparent;
		color: $white;
	}
}

.btn-dark{
	border:1px solid $dark;
	color:$dark; 
	font-size:13px;
	&:hover{
		background: $dark;
		border-color:transparent;
		color: $white;
	}
}

.sliderWraper{
	width:100%;
	height:auto;  
	
	.sliderContent{
		padding-top: 170px;
		padding-bottom: 56px;

	 
	}
} 


 

.carousel-caption{
	text-align: left;
	text-shadow:none;
	bottom: auto;
	top:180px;
}

	.sliderExert{    
	img{
		width:100%;
		height: auto;
	}
	p{
		margin-top: 23px;
	}
	h1{
		font-weight:300;
		color: $white;
	}
	.clipped{
		background: url(../img/text_bg.png) 35% 54%;
		background-size: cover;
		color: $white;
		font-family: 'Tinos', serif;
		font-weight: 700; 
		font-size: 60px; 
		-webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
		-webkit-background-clip: text;
	}
	.clipped_in{
		background: url(../img/text_bg.png) 35% 54%;
		background-size: cover;
		color: $white;
		font-weight: 700;
		-webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
		-webkit-background-clip: text;
	}
	.btn{
		margin-top:40px;
	}
}
  

  
.slide1{
		background: url(../img/assets/slide_1_bg.png)no-repeat;
		background-size: cover;
		background-position: center center; 
		min-height: 767px; 
	.img-box{
		position: relative;
		top:100px;
		left:-36px; 
	}
}
.slide2{
		background: url(../img/assets/slide_2_bg.png)no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 767px; 
	.sliderExert{
		padding-left: 0!important;
		h1{
			border-left:1px solid $red;
			padding-left: 22px; 
			max-width: 340px;
		} 
		.btn{
			margin-left: 22px;
		} 
	}
	.img-box{
		position: relative;
	    bottom: -100px;
	    right: -200px;;
	}
}

.slide3{
		background: url(../img/assets/slide_3_bg.png)no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 767px; 
	.sliderExert{
		padding-left: 0!important;
	  	h1{ 
				max-width: 300px;
			} 
		.btn{
			background-color:rgba(000, 000, 0000, .3);
			&:hover{
				background: $white;
			}
		}
	}
}

 
 
 
/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-nav {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1180px; 
  bottom: 93px;  
  nav{
  	top:17px;
  	padding-top: 23px; 
  	float: left;
  	position:relative; 
  	width: 50%;
  	max-width: 493px;
  	padding-left: 58px;
	  &:after{
		  content: "";
		  width: 100%;
		  height: 8px;
		  background: #232323;
		  position: absolute; 
		  left: 0;
		  top:-8px;
	  } 

  		> a{ 
			width:20px;
			height: 36px;
			display: block;
			position: relative;
			z-index: 2; 
  			}
  			a.next{
				background: url(../img/arrow_right.png)no-repeat;
				background-position: 0 -36px;
				display: inline-block;
				&:focus{
					
					background: url(../img/arrow_right.png)no-repeat!important;
					background-position: 0 -36px!important;
					display: inline-block;
				} 
  			}
  			a.prev{
				background: url(../img/arrow_left.png)no-repeat;
				background-position: 0 -36px;
				display: inline-block;
				&:focus{
					background: url(../img/arrow_left.png)no-repeat!important;
					background-position: 0 -36px!important;	
				} 

  			}
  		.carousel-indicators{  
	  		padding-left: 30px;
		    padding-right: 30px;
		    padding-top: 8px;
		    display: inline-block;
		    position: relative;
		    left: 0;
		    top: -7px;
		    right: 0;
		    margin: 0 0;
		    width: auto; 
  		li{
  			width: 12px;
  			height: 12px;
  			border:solid #645025 1px;
  			margin: 5px 5px; 
  			border-radius: 0;
  		}
  		.active{
  			background:#000;
  		}
  	}
  } 
}
 

.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li, .cd-slider-nav a {
  height: 100%;
}
.cd-slider-nav nav {
  display: inline-block;
  position: relative;
}
 
.cd-slider-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-nav li {
  display: inline-block;
  width: 60px;
  float: left;
}
.cd-slider-nav li.selected a {
  color: #2c343b;
}
.no-touch .cd-slider-nav li.selected a:hover {
  background-color: transparent;
}
.cd-slider-nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-slider-nav a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../assets/cd-icon-navigation.svg) no-repeat 0 0;
}
.no-touch .cd-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}
 
 



/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .slider li {
  display: none;
}
.no-js .slider li.selected {
  display: block;
}

.no-js .cd-slider-nav {
  display: none;
}


	.redElements{
		.brand-nespresso{ 
			&:after{ 
				background: $red; 
			}
		} 
		.nav{ 
			li{ 
				a:hover{
					color: $red!important;
				}
			}
			.current{
				background: $red!important;
			}
		} 
		 
		.lang{
			li{
				&:first-child{ 
					&:after{
						background: $red;
					} 
				}
			} 
		}
		.fa-search{
			&:hover{
				color: $red;
			}
		}
	} 
.whiteElements{
	.cd-slider-nav{
		nav{
			a.next{
				background: url(../img/arrow_right.png)no-repeat!important;
				background-position: 0 0 ;
			}
			a.prev{
				background: url(../img/arrow_left.png)no-repeat!important;
				background-position: 0 0 ;
			}
			.carousel-indicators{
				li{
					border:solid $white 1px; 
				}
				.active{
					border:solid $white 1px;
					background: $white; 
				} 
			}
			&:after{
				background: $white;
			}
		} 
	} 
}

#about{
	background-color:$beige;
	padding-bottom:70px;
	h2{
		color: $medium-brown;
		text-align: center;
		font-weight: 300;
	}
	.box-xl{
		border:solid 8px $white;
		padding:30px 50px; 
		position:relative;
		z-index:101;
		.box-blContent{
			position:relative;
			z-index: 100;
			h3{
				font-size: 48px;
				color: $medium-brown;
				text-align: left;
				font-family: 'Tinos', serif;
				font-weight: 400;
				margin-bottom:20px;
				margin-top: 0;
				span{
					font-weight: 700;
					display: block;  
				}
			}
			p{
				color: $medium-brown; 
				max-width: 290px;
				text-align: left; 
				font-size: 16px;
				line-height: 1.4;
				&:nth-child(2n+1){ 
					max-width: 180px;
				}
			}

			.btn{
				margin-top: 30px;
			}
		}  
	}

	.imgCup{
		position:absolute;
		top: 72px;
    	right: -113px;
		z-index: 99;
	}
 
	.box-l,
	.box-s{
		position:relative;
		z-index:101;
		cursor: pointer;
		img{
			width: 100%;
			height: auto;
		}
		> span{
			position:absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%; 
			h3{
		 		font-size: 22px;
		 		color: $white;
		 		font-family: 'Tinos', serif;
		 		position:absolute;
		 		bottom:10px;
		 		padding:0 30px;
		 		font-weight: 400;
		 		line-height: 1.3;
		 	} 
		}
		.apla{  
			background: -moz-linear-gradient(top,  rgba(212,152,98,0.44) 1%, rgba(212,152,98,0.6) 29%, rgba(49,29,24,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(212,152,98,0.44) 1%,rgba(212,152,98,0.6) 29%,rgba(49,29,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(212,152,98,0.44) 1%,rgba(212,152,98,0.6) 29%,rgba(49,29,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d49862', endColorstr='#311d18',GradientType=0 ); /* IE6-9 */  
		}
		.aplaDark{  
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 99%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
			border:16px solid transparent;   

			div{
				float: left;
				width: 100%; 
				height: 100%;
				border:solid 1px $white;
		 
			}
		}
	}

	.box-l{
		margin-top: 30px;
		h3{
			top:30px!important;
			max-width: 240px;
			margin-top: 0;
			span{
				font-weight: 700;
			}
		}
		.btn{
			position: absolute;
			left:30px;
			bottom:20px;
		}
	}

	.border{
		border:solid $white 8px;
	}
}


 


#article{
	min-height:1015px;
	background:url(../img/article_bg.png)no-repeat;
	background-position:center top;

	.animated {
		-webkit-animation-duration: 1000ms;
		animation-duration: 1000ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.owl-animated-in {
		z-index: 0;
	}
	.owl-animated-out {
		z-index: 1;
	}
	.fadeOut {
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
	}
	@-webkit-keyframes fadeOut {
		0% {
		opacity: 1;
		}

		100% {
		opacity: 0;
		}
	}
	@keyframes fadeOut {
		0% {
		opacity: 1;
		}

		100% {
		opacity: 0;
		}
	}	

	.owl-carousel {
		position: relative;
		overflow: hidden; 
		-webkit-transform: translate3d(0px, 0px, 0px);
		.owl-refresh {
			.owl-item {
				display: none;
				}
			}
		.owl-item {
			position: relative;
			min-height: 1px;
			float: left;
			-webkit-backface-visibility: hidden;
			-webkit-tap-highlight-color: transparent;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none; 
			-webkit-transition: opacity 0.5s ease-in-out;
			-moz-transition: opacity 0.5s ease-in-out;
			-ms-transition: opacity 0.5s ease-in-out;
			-o-transition: opacity 0.5s ease-in-out;
			transition: opacity 0.5s ease-in-out;
			&:nth-child(2n){
				margin-top: 85px;
			}
			 
		} 
		img{
			display: block;
			width: 100%;
			-webkit-transform-style: preserve-3d;
		}
	} 
	h2{
		text-align: center;
		padding-top: 55px;
	}
	.articles{
		margin-top: 60px;
		.item{  
			article{
				min-height: 420px;
				background-color:$white;
				margin-top: 0;
				-webkit-box-shadow: 0px 0px 20px 0px rgba(7,6,6,0.12);
				-moz-box-shadow: 0px 0px 20px 0px rgba(7,6,6,0.12);
				box-shadow: 0px 0px 20px 0px rgba(7,6,6,0.12);
				position:relative;
				img{
					width: 100%;
					height: auto;
					position:relative;
					top:0;
					left:0;
				}
				span{
					position:absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;

					h3{
						position:absolute;
						bottom:30px;
						width: calc(100% - 40px);
						height: auto;
						margin-left: 20px;
						font-size: 22px;
						font-family: 'Tinos', serif;
						font-weight: 400;
						padding-bottom: 10px;
					}
					p{
					font-weight: 400;
					} 
				}

				// Class for Article Category Add New Here
				
				.cat_1{ 
					/* 
						Settings:
						#000 Gradient 
						#fff Text
						$red Lineine 
					*/  
					background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */ 
					h3{
						color: $white;
						border-bottom: 1px solid $red;
					}

				}
				
				.cat_2{ 

					/* 
						Settings:
						#000 Gradient 
						#fff Text
						$gold Lineine 
					*/   
					background: -moz-linear-gradient(top,  rgba(0,0,0,0) 21%, rgba(2,1,1,0) 22%, rgba(110,67,55,1) 86%, rgba(132,81,66,1) 99%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 21%,rgba(2,1,1,0) 22%,rgba(110,67,55,1) 86%,rgba(132,81,66,1) 99%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 21%,rgba(2,1,1,0) 22%,rgba(110,67,55,1) 86%,rgba(132,81,66,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#845142',GradientType=0 ); /* IE6-9 */ 
					h3{
						color: $white;
						border-bottom: 1px solid $gold;
					}

				 
				}
				
				.cat_3{ 

					/* 
						Settings:
						$white Gradient 
						#fff Text
						$red Lineine 
					*/  
					background: -moz-linear-gradient(top,  rgba(255,255,255,0) 21%, rgba(255,255,255,0) 22%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 21%,rgba(255,255,255,0) 22%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(255,255,255,0) 21%,rgba(255,255,255,0) 22%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ 
					h3{
						color: $dark;
						border-bottom: 1px solid $red;
					}

				 
				}

				.cat_4{ 

					/* 
						Settings:
						$brown Gradient 
						#fff Text
						$red Lineine 
					*/  
					background: -moz-linear-gradient(top,  rgba(119,87,66,0) 21%, rgba(119,87,66,0) 22%, rgba(119,87,66,1) 84%, rgba(119,87,66,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(119,87,66,0) 21%,rgba(119,87,66,0) 22%,rgba(119,87,66,1) 84%,rgba(119,87,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(119,87,66,0) 21%,rgba(119,87,66,0) 22%,rgba(119,87,66,1) 84%,rgba(119,87,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00775742', endColorstr='#775742',GradientType=0 ); /* IE6-9 */
					h3{
						color: $white;
						border-bottom: 1px solid $gold;
					}

				 
				}  
			}
		}
	} 
}

footer{
	background-color: $dark;
	min-height:318px;
	.brand{
		display: inline-block;
		padding-top:20px;
		padding-right:40px;
		img{
			max-width: 100%;
			height: auto; 
		}
	}
	.bottomNav{
		display: inline-block;
		border-left:1px solid $gold;
		padding: 40px 0;

		li{
			list-style:none;
			display: inline-block;
			padding: 0 15px;
			a{
				color: $white;
				text-transform: uppercase;  
				font-size: 12px;
				
				&:hover{
					color: $gold;
				}
			}
			&:after{
				content: "";
				width: 1px;
				height: 10px;
				background: $white;
				position:relative;
				right: -15px;
				top:0px;
				display: inline-block; 
			}
			&:first-child{
				margin-left: 50px;
			}
			&:last-child{
				&:after{
					display: none;
				}
			} 
		}
	}

	.creator{ 
		margin-top: 40px;
		width: 130px; 
		span{ 
			font-size: 12px;
			color: #8a8a8a;
			font-family: 'Lato', sans-serif; 
			line-height: 30px;
			margin-right: 10px;
			display: inline-block;
			float: left;
		}  
		img{
			float: right;
			display: inline-block;
		}
	} 
}


/*

SUBPAGES EKSPRESS

*/
.staticCover{
	width:100%;
	min-height:580px;

	.breadcrumbs{
		padding-top: 140px;
		padding-left:30px;
		ul{
			padding:0;
			li{
				display: inline-block;
				margin-right: 10px;
				font-size: 12px;
				&:after{
					content: "/";
					color: #726558;
					position:relative;
					right: -5px;
				} 
				a{
					color: $white;
					&:hover{
						color: $gold;
					}
				}
				span{
					color: $gold;
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}  
		}
	}
	.staticCoverWrapper{
		position:relative;
		padding-top: 130px;
		.desc{
		    position:absolute;
		    right:12px;  
		    max-width: 323px;
		    padding-bottom: 48px;
		    .title{  
		    	width: 100%; 
		    	background-position: left top; 
		    	margin-top: 60px;
		    	padding-right:20px;

		    	h1{ 
			    	font-family: 'Tinos', serif;
			    	font-weight: bold;
			    	font-size: 60px;
			    	text-align: right; 
			    }
		    } 
		    p{ 
		    	font-size: 14px;
		    	padding-top: 40px; 
		    }
		}
	}
}


	#subPageContent{
		padding-bottom:50px;    
		h4{
			font-size: 13px;
			font-weight: 400;
			float: left;
			margin-right: 30px;
			padding-right:30px;
			line-height: 33px; 
			min-height: 33px;
			text-transform: uppercase;
		
		}
		#contactLine{
			padding-top:40px;
			h4{
				margin-top: 10px;
			}
			span{
				float: left; 
				font-size: 13px;
				position:relative;
				top:16px;
			}
			a{
				float: left; 
				font-size:24px;
				color: #414141;
				font-weight: 300;
				margin-left: 10px;
				position:relative;
				top:7px;
			}
			.btn{
				position:relative;
				top:4px;
				padding:16px 24px;
			}
		}
		.dotPattern{
			padding:36px 0;
			margin-top: 55px;
			margin-bottom:46px; 
			background: url(../img/dot_pattern.png)repeat;
			ul{
			 
				li{
					list-style: none;
					display: inline-block;
					width: 20%;
					min-height: 50px;
					float: left ;
					font-size: 13px;
					font-weight: 300;
					letter-spacing: 0px;
					color: $dark;
					position:relative;
					margin:10px 0; 
					i{
						width: 55px;
						height: 48px;
						display: inline-block;
						position:relative; 
						float:left; 
						background-position:0 0; 
					}
					span{  
						 position:relative;
						 top:15px;
						 left:5px;
						 line-height: 1.2;
						 font-size:12px;  
					} 
					&:nth-child(2){
						i{  background-position:0 -297px; }
						span{ top:10px; }
					} 
					&:nth-child(3) { 
						i{ background-position:0 -376px;} 
						span{ top:16px; }
					}
					&:nth-child(4) i{ background-position:0 -337px;}
					&:nth-child(5) {
						i{ background-position:0 -262px; }
						span{ top:10px; }
					}
					&:nth-child(6) {
						i{ background-position:0 -53px;}
						span{ top:0px; }
					}
					&:nth-child(7){
						i{ background-position:0 -174px;}
						span{ top:0px; }
					} 
					&:nth-child(8){
						i{ background-position:0 -220px;}
						span{ top:0px; }
					} 
					&:nth-child(9) {
						i{ background-position:0 -126px;}
						span{ top:10px; }
						} 
					&:nth-child(10) {
						i{ background-position:0 -92px;}
						span{ top:10px; }
						} 

					
				}
			} 
			.wrap{
				width: 100%;
				float: left;
				background:000;
				border:1px solid $white; 
				background:rgba(235, 235, 235, .8);
				margin-top: 10px;
				padding:18px 10px;
			} 
		}
			.details{
				width: 100%;
				height: auto;
				float: left;
				
				.firstRow{
					div{
						min-height: 313px;
					}
				}
				
				div{ 
					float: left;
					width: 100%;
					div{
						float: left;
						ul{
							width: 95%!important;
							padding-top: 20px;
							padding-left:40px;
							li{
								width: 100%!important;
								float: left;
								list-style:none;
								min-height: 1px;
								border:none!important;
								margin-bottom:6px;
								font-size: 14px;
								font-weight: 300; 

								&:before{
									content: ""; 
									display: inline-block;
									background:url(../img/tic.png)no-repeat;
									background-position:0 0;
									width: 10px;
									height:9px;
									margin-right:5px;
									clear: both;
								}
							}
						} 
					} 
					.boxSmaller{
						width: 100%;
						max-width: 330px; 
					}
					.boxBigger{
						width: 100%;
						max-width: 472px; 
					}
					.border-start{
						border-left: 8px solid $dark;
						border-top:8px solid $dark;
					}
					.border-end{
						border-right: 8px solid $dark;
						border-top:8px solid $dark;
					}
					.border-center{ 
						border-bottom:8px solid $dark;
					}
					.middleBox{
						min-height:228px;
					}
					.lastBox{
						 height:228px;
						 overflow: hidden;
					}
				} 
			} 
		}  
 


/* 

AUGILA SUBPAGE

*/

.augila{  


	.staticCover{ 
		background:url(../img/assets/augila_cover.png)no-repeat;
		background-position: center top;
			.breadcrumbs{ 
			ul{ 
				li{  
					a{
						color: $white;
						&:hover{
							color: $gold;
						}
					}
					span{
						color: $gold;
					} 
				} 
			}
		} 
		.staticCoverWrapper{ 
			.desc{ 
			    border-bottom:1px solid $gold; 
			    .title{    
			    	h1{
				    	color :$gold; 
				    }
			    } 
			    p{
			    	color: $dark; 
			    }
			}
		}
	}  
	#subPageContent{ 
			background:url(../img/assets/augila_bg.png)no-repeat;
			background-position:center top;   
		h4{ 
			border-right:1px solid $gold;  
		} 
		.dotPattern{
			ul{ 
				li{  
					i{ 
						background: url(../img/icons.png)no-repeat;
						background-position:0 0; 
					} 
					&:nth-child(2){
						i{  background-position:0 -297px; }
						span{ top:10px; }
					} 
					&:nth-child(3) { 
						i{ background-position:0 -376px;} 
						span{ top:16px; }
					}
					&:nth-child(4) i{ background-position:0 -337px;}
					&:nth-child(5) {
						i{ background-position:0 -262px; }
						span{ top:10px; }
					}
					&:nth-child(6) {
						i{ background-position:0 -53px;}
						span{ top:0px; }
					}
					&:nth-child(7){
						i{ background-position:0 -174px;}
						span{ top:0px; }
					} 
					&:nth-child(8){
						i{ background-position:0 -220px;}
						span{ top:0px; }
					} 
					&:nth-child(9) {
						i{ background-position:0 -126px;}
						span{ top:10px; }
					} 
					&:nth-child(10) {
						i{ background-position:0 -92px;}
						span{ top:10px; }
					}  
				}
			}  
		} 
	} //END SUBPAGECONTENT
} //END AUGILLA PAGE STYLE
	




/* 

GEMINI SUBPAGE

*/

.gemini{

	.navbar{
		.nav{
			li{
				a{ 
					&:hover{
						color: $blue;
					}
				}
			}
			.current{
				background:$blue;
			}
		}
		.lang{
			li{
				a{
					&:hover{
						color: $blue;
					}
				}
				&:first-child{
					&:after{
						background:$blue;
					}
				}
			}
			
		}
		.fa-search{
			&:hover{
				color: $blue;
			}
		}
	}  

	.staticCover{ 
				background:url(../img/assets/gemini_cover.png)no-repeat;
				background-position: center top;
			.breadcrumbs{ 
			ul{ 
				li{  
					a{
						color: $white;
						&:hover{
							color: $blue;
						}
					}
					span{
						color: $blue;
					} 
				} 
			}
		} 
		.staticCoverWrapper{ 
			.desc{ 
			    border-bottom:1px solid $blue; 
			    .title{    
			    	h1{
				    	color :$blue;
				    	line-height: auto; 
				    }
			    } 
			    p{
			    	color: $dark; 
			    }
			}
		}
	}  
	#subPageContent{ 
			background:url(../img/assets/gemini_bg.png)no-repeat;
					background-position: center top;  
		h4{ 
			border-right:1px solid $blue;  
		} 
		.dotPattern{
			ul{ 
				li{  
					i{ 
						background: url(../img/icons.png)no-repeat;
						background-position:-76px 0; 
					} 
					&:nth-child(2){
						i{  background-position:-76px -297px; }
						span{ top:10px; }
					} 
					&:nth-child(3) { 
						i{ background-position:-76px -376px;} 
						span{ top:16px; }
					}
					&:nth-child(4) i{
						background-position:-76px -337px;
					}
					&:nth-child(5) {
						i{ background-position:-76px -262px; }
						span{ top:10px; }
					}
					&:nth-child(6) {
						i{ background-position:-76px -53px;}
						span{ top:0px; }
					}
					&:nth-child(7){
						i{ background-position:-76px -174px;}
						span{ top:0px; }
					} 
					&:nth-child(8){
						i{ background-position:-76px -220px;}
						span{ top:0px; }
					} 
					&:nth-child(9) {
						i{ background-position:-76px -126px;}
						span{ top:10px; }
					} 
					&:nth-child(10) {
						i{ background-position:-76px -92px;}
						span{ top:10px; }
					}  
				}
			}  
		}
		.details{  
			div{  
				div{ 
					ul{ 
						li{ 
							&:before{
								background-position:-10px 0px;
							}
						}
					} 
				}  
			} 
		} 
	} //END SUBPAGECONTENT

	footer{
		.bottomNav{
			border-left-color:$blue;
			li{
				a{
					&:hover{
						color: $blue;
					}
				}
			}
		}
	}
} //END GEMINI PAGE STYLE

/* 

ZENIUS SUBPAGE

*/

.zenius{

	.navbar{
		.nav{
			li{
				a{ 
					&:hover{
						color: $red;
					}
				}
			}
			.current{
				background:$red;
			}
		}
		.lang{
			li{
				a{
					&:hover{
						color: $red;
					}
				}
				&:first-child{
					&:after{
						background:$red;
					}
				}
			}
			
		}
		.fa-search{
			&:hover{
				color: $red;
			}
		}
	}  

	.staticCover{ 
		background:url(../img/assets/zenius_cover.png)no-repeat;
				background-position: center top;
			.breadcrumbs{ 
			ul{ 
				li{  
					a{
						color: $white;
						&:hover{
							color: $red;
						}
					}
					span{
						color: $red;
					} 
				} 
			}
		} 
		.staticCoverWrapper{
			img{
				float: right; 
			} 
			.desc{ 
			    border-bottom:1px solid $red; 
			    .title{    
			    	h1{
				    	color :$red;
				    	line-height: auto; 
				    }
			    } 
			    p{
			    	color: $dark; 
			    }
			}
		}
	}  
	#subPageContent{ 
			background:url(../img/assets/zenius_bg.png)no-repeat;
					background-position: center top;  
		h4{ 
			border-right:1px solid $red;  
		} 
		.dotPattern{
			ul{ 
				li{  
					i{ 
						background: url(../img/icons.png)no-repeat;
						background-position:-146px 0; 
					} 
					&:nth-child(2){
						i{  background-position:-146px -297px; }
						span{ top:10px; }
					} 
					&:nth-child(3) { 
						i{ background-position:-146px -376px;} 
						span{ top:16px; }
					}
					&:nth-child(4) i{
						background-position:-146px -337px;
					}
					&:nth-child(5) {
						i{ background-position:-146px -262px; }
						span{ top:10px; }
					}
					&:nth-child(6) {
						i{ background-position:-146px -53px;}
						span{ top:0px; }
					}
					&:nth-child(7){
						i{ background-position:-146px -174px;}
						span{ top:0px; }
					} 
					&:nth-child(8){
						i{ background-position:-146px -220px;}
						span{ top:0px; }
					} 
					&:nth-child(9) {
						i{ background-position:-146px -126px;}
						span{ top:10px; }
					} 
					&:nth-child(10) {
						i{ background-position:-146px -92px;}
						span{ top:10px; }
					}  
				}
			}  
		}
		.details{  
			div{  
				div{ 
					ul{ 
						li{ 
							&:before{
								background-position:-20px 0px;
							}
						}
					} 
				}  
			} 
		} 
	} //END SUBPAGECONTENT

	footer{
		.bottomNav{
			border-left-color:$red;
			li{
				a{
					&:hover{
						color: $red;
					}
				}
			}
		}
	}
} //END ZENISU PAGE STYLE

/* 

SYSTEM TOWER SUBPAGE

*/

.systemTower{

	.navbar{
		.nav{
			li{
				a{ 
					&:hover{
						color: $green;
					}
				}
			}
			.current{
				background:$green;
			}
		}
		.lang{
			li{
				a{
					&:hover{
						color: $green;
					}
				}
				&:first-child{
					&:after{
						background:$green;
					}
				}
			}
			
		}
		.fa-search{
			&:hover{
				color: $green;
			}
		}
	}  

	.staticCover{ 
		background:url(../img/assets/systemtower_cover.png)no-repeat;
				background-position: center top;
			.breadcrumbs{ 
			ul{ 
				li{  
					a{
						color: $white;
						&:hover{
							color: $green;
						}
					}
					span{
						color: $green;
					} 
				} 
			}
		} 
		.staticCoverWrapper{
			 padding-top: 25px;
			 padding-bottom: 50px;
			.desc{  
				position:relative;
				padding-top:130px; 
				padding-bottom:10px;
			    .title{    
			    	h1{
				    	color :$green;
				    	line-height: auto; 
				    }
			    } 
			    p{
			    	color: $dark; 
			    }
			}
			.longDesc{
				position:relative;
				width: 100%;
				float: left;
					
				p{
					color: $dark;
					font-size: 14px;
					margin-bottom:0;
					margin-top: 10px;		
				}
				.green{
					color:$green;
				}
				ul{  
					li{
						list-style:none;
						font-weight:300;
						font-size: 14px; 
						&:before{
							content: "";
							margin-right: 6px;
							display: inline-block;
							width: 10px;
							height: 9px;
							background: url(../img/tic.png)no-repeat;
							background-position:-30px 0px;
						}
					}
				} 
			}
		}
	}  
	#subPageContent{     
		h4{ 
			border-right:1px solid $green;  
		} 
		.dotPattern{
			ul{ 
				li{  
					i{ 
						background: url(../img/icons.png)no-repeat;
						background-position:-146px 0; 
					} 
					&:nth-child(2){
						i{  background-position:-146px -297px; }
						span{ top:10px; }
					} 
					&:nth-child(3) { 
						i{ background-position:-146px -376px;} 
						span{ top:16px; }
					}
					&:nth-child(4) i{
						background-position:-146px -337px;
					}
					&:nth-child(5) {
						i{ background-position:-146px -262px; }
						span{ top:10px; }
					}
					&:nth-child(6) {
						i{ background-position:-146px -53px;}
						span{ top:0px; }
					}
					&:nth-child(7){
						i{ background-position:-146px -174px;}
						span{ top:0px; }
					} 
					&:nth-child(8){
						i{ background-position:-146px -220px;}
						span{ top:0px; }
					} 
					&:nth-child(9) {
						i{ background-position:-146px -126px;}
						span{ top:10px; }
					} 
					&:nth-child(10) {
						i{ background-position:-146px -92px;}
						span{ top:10px; }
					}  
				}
			}  
		}
		.details{  
			div{  
				div{ 
					ul{ 
						li{ 
							&:before{
								background-position:-30px 0px;
							}
						}
					} 
				}  
			} 
		} 
	} //END SUBPAGECONTENT

	footer{
		.bottomNav{
			border-left-color:$green;
			li{
				a{
					&:hover{
						color: $green;
					}
				}
			}
		}
	}
} //END SYSTEM TOWER PAGE STYLE

.categoryEkspress{
	background: url(../img/assets/ekspresy_bg.png)no-repeat;
	background-position: right top !important;
	.staticCover{
		background: url(../img/assets/category_ekspresy_cover.png)no-repeat;
		background-position: center top;
		min-height: 416px;
		h1{
			color: $white;
			font-weight: 300;
			line-height: 1.3;
			margin-top: 50px;
		}
	}
	#subPageContent{
		h4{
			border-right: 1px solid $gold;
			margin:30px 0;
		}
		.itemBox{
			 margin-bottom: 45px;
			 min-height: 283px;
			 .headline{
			 	display: table; 
			 	min-height: 283px; 
				 h2{
				 	font-size: 64px; 
				 	font-family: 'Tinos', serif;
				 	font-weight: bold;
				 	text-align:right; 
				 	vertical-align: middle;
				 	display: table-cell;

				 }
			 } 
			 .details{
			 	padding: 60px 0 0 25px;
			 	.btn{
			 		i{
			 			position:relative;
			 			display: inline-block;
			 			top:2px;
			 			left:5px; 
			 			width: 40px;
			 			height: 15px;
			 			background: url(../img/btn_arrow_right.png)no-repeat; 
			 		}
			 		&:hover{
			 			background:transparent;
		 				border:1px solid $dark;
		 				color: $dark;
		 				i{
		 					left:7px;
		 				}
		 			}
			 	}
				p{
				 	color: $dark;
				 	font-size: 14px; 
			 	} 
			 }  
			 .label{
			 	min-height: 283px;  
			 	img{
			 		max-width: 100%;
			 		height: auto;
			 		position: absolute;
			 		bottom:0;
			 		right:30px; 
			 	} 
				.labelTriangle{
				    position: absolute;
				    display: inline-block;
				    width: 0;
				    height: 0;
				    line-height: 0;
				    border: 115px solid transparent; 
				    right: 0px;
				    bottom: 10px;
				    div{
				    	position:relative;
				    	top:-30px;
				    	left:100px; 
				    	width: 120px;
				    	height: auto;
				    	float: right;  
				    }
				    i{	 
				    	width: 57px;
				    	height: 62px;
				    	display: inline-block; 
				    	background:url(../img/user_ico.png)no-repeat; 
				    	border-bottom: 2px solid #292823;
				    	float: right; 
				    	margin-left:10px;
				    }
				    p{
				      font-size: 32px;
				      color:#292823;  
				      display: block;
				      width: 100%; 
				      float: left;
				      font-weight: bold;
				      text-align: right; 
				      small{ 
				      	font-weight: 300;
				      	font-size: 18px;
				      	text-transform: uppercase; 

				      } 
				    }
				    span{
				    	display:  block;   
				    	font-size: 18px;
				    	font-weight: 300;
				    	color: #292823; 
				    	float: right;
				    	text-transform: uppercase; 
				    }
				}
				.LabelLine{
				    position: absolute;
				    display: inline-block;
				    width: 130%;
				    height: 0;
				    line-height: 0;
				    border: 10px solid transparent; 
				    right: 0px;
				    bottom: 0px;
				} 
			 }
		}
		.itemAugila{ 
			border:1px solid $gold;
		 	h2{ 
			 	color: $gold;  
			 }
			.label{
				.labelTriangle{
					border-right: 115px solid $gold;
				    border-bottom: 115px solid $gold;
				}
				.LabelLine{
					border-right: 10px solid $gold;
				    border-bottom: 10px solid $gold;
				}
			} 
		}
		.itemGemini{ 
			border:1px solid $blue;
			h2{ 
			 	color: $blue;  
			 }
			.label{
				.labelTriangle{
					border-right: 115px solid $blue;
				    border-bottom: 115px solid $blue;
				}
				.LabelLine{
					border-right: 10px solid $blue;
				    border-bottom: 10px solid $blue;
				}
			}
		}
		 
		.itemSystemTower{
			border:1px solid $green;
			h2{ 
			 	color: $green;  
			 } 
			.label{ 
				.labelTriangle{
					border-right: 115px solid $green;
				    border-bottom: 115px solid $green;
				}
				.LabelLine{
					border-right: 10px solid $green;
				    border-bottom: 10px solid $green;
				}
			}
		}
		.itemsZenius{ 
			h2{ 
			 	color: $red;  
			 }
			border:1px solid $red;
			.label{
				.labelTriangle{
					border-right: 115px solid $red;
				    border-bottom: 115px solid $red;
				}
				.LabelLine{
					border-right: 10px solid $red;
				    border-bottom: 10px solid $red;
				}
			}
		}
	} 
}
.nav-box-row{
	text-align:center;
	.box-nav{ 
		display: inline-block;
	    margin: 0 auto;
		height:auto;
		min-width:1px;
		margin:45px auto;    
		li{
			width: auto;
			list-style: none;
			display: inline-block;
			padding:10px 10px;
			border:1px solid $brand-brown;
			margin:0 5px;
			a{
				color: $brand-brown;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 400;
			}
			&:hover{
				background: $brand-brown;
				a{
					color: $white;
				}
			} 
		}
		.active{ 
			background: $brand-brown;
			a{
				color: $white;
			}
		}
	}	
}

.line{ 
		&:before{
		content: "";
		width: 1px;
		height: 100%;
		background:$gold;
		position:absolute;
		display: block;
		left:0;
		top:0px;	
	}
}


.categoryKawa{
	background:#e2d8cf; 
	.staticCover{
		background: url(../img/assets/cover_kawa.png)no-repeat;
		background-position: center top;
		min-height: 604px;
		h1{
			color: $white;
			font-weight: 200;
			line-height: 1.3;
			margin-top: 50px;
			font-family: 'Tinos', serif;
			font-weight: 400;
			span{
			font-weight: 700;
			}
		}
		p{
			line-height: 1.4;
		}
	}
	.coffe-items{ 
		.item{
			opacity: 0.4;  
			padding: 5px;  
			.box{
				background: #fff;
				padding: 25px 20px 17px 20px;
				min-height: 290px;
				h3{
					text-align: center;
					font-size: 12px;
					letter-spacing: 1px;
					margin: 0;
					padding: 0;
					color:#a07750;
					text-transform: uppercase;
				}
				img{
					display: block;
					margin: 20px auto;
					max-width: 100%;

				}
				div{
					display: block;
					border-top:1px solid #d7cabf;
					padding: 15px 0 0 0;
				}
				ul{
					display: inline-block;
					position: relative;
					top:5px;
					li{
						list-style: none;
						width: 13px;
						height: 20px; 
						display: inline-block;
						background: url(../img/grain_dark.png) no-repeat; 
						background-position:-14px 0;
						margin-left: -2px;  
					}
					.active{
						background-position:0 0;
					}
				}
				em{
					font-style: normal;
					color:#a07750;
					font-size: 18px;
					font-weight: bold;
					margin-left: 2px;
					margin-right: 5px;
					padding-right: 5px;
					border-right: 1px solid #d7cabf; 
				}
				i{ 
					width: 28px;
					height: 20px; 
					display: inline-block;
					position: relative;
					top:3px;
					background-position:top right;
				}
				.size-s{
					background: url(../img/cup_s.png)no-repeat;
				}
				.size-m{
					background: url(../img/cup_m.png)no-repeat;
				}
				.size-l{
					background: url(../img/cup_l.png)no-repeat;
				}
			}
		}
		.selected-espresso{
			opacity: 1;
		}
		.selected-ristretto{
			opacity: 1;
		}
		.selected-lungo{
			opacity: 1;
		}
		.selected-decaffeinato{
			opacity: 1;
		} 
	}
	.box-more{
		margin-top: 5px;
		padding: 0 5px;
			.more-info{ 
				background:#785739 url(../img/assets/more-info-cofee-bg.png)no-repeat;
				background-position: top right;
				display: block; 
				float: left;
				width:100%;
				padding: 20px;
			img{
				max-width: 100%;
				margin: 0 auto;
				display: block;
			}
			h2{
				margin:15px 0 0 0;
				padding: 0;
				color:#fff;
				font-family: 'Tinos', serif;
				font-size: 42px;
			}
			p{
				margin-top: 10px;
				color: #d8bdb5;
				line-height: 1.4;
				font-size: 16px;
			}
			ul{
				display: inline-block;
				li{
					list-style: none;
					display: inline-block;
					color: $gold;
					&:first-child{
						padding-right: 20px;
					}
				}
			} 
		}
		.foot{
			display: block;
			margin-top: 10px;
			padding-top: 10px;
			border-top:1px solid #a8917c;
			ul{
				display: inline-block;
				position: relative;
				top:5px;
				li{
					list-style: none;
					width: 17px;
					height: 21px; 
					display: inline-block;
					background: url(../img/grain-light.png) no-repeat; 
					background-position:-15px 0;
					margin-left: -3px;  
				}
				.active{
					background-position:0 0;
				}
			}
			em{
				font-style: normal;
				color:$gold;
				font-size: 20px;
				font-weight: bold;
				margin-left: 5px;
				margin-right: 5px;
				padding-right: 5px;
				float: right;  
			}
		}
	}
	.how-it-works{
		background: $white;
		.box{
			display: block;
			max-width: 600px;
			margin: 0 auto;
			text-align: center;
			padding: 60px 0;
			h3{
				font-weight: bold;
				color:#785739;
				margin-bottom: 30px;
			}
			p{
				line-height: 1.4;
				color:#000;
				font-size: 12px;
			}
		}
	}
	.tab-slider{
		background: $white;
		padding-top: 25px;
		border-top:1px solid #d6d6d6;
		position: relative;
		top: -10px; 
		#tabSlider{
			.nav-box{
				text-align: center;
				border-bottom: 1px solid #c9c9c9;
				.nav{
					display:inline-block;
					margin: 0 auto;
					text-align: center; 
					padding-bottom: 0;
					li{ 
						position: relative; 
						padding-bottom: 0;
						i{
							display: block;
							margin: 0 auto; 
							height: 50px;
							width: 100%;
							background-position: center;
							position: relative;
							top: 10px;
						}
						a{
							color: #000;
							font-size: 11px;
							position: relative;
							top: -10px;
						}
						&:hover{
							a{
								background: transparent;
							} 
						}
						&:first-child{
						i{
							background: url(../img/tab-nav-slide-1)no-repeat;
							background-position: center;
						}
						}
						&:nth-child(2){
							i{
								background: url(../img/tab-nav-slide-2)no-repeat;
								background-position: center;
							}
						}
						&:nth-child(3){
							i{
								background: url(../img/tab-nav-slide-3)no-repeat;
								background-position: center;
							}
						}
						&:nth-child(4){
							i{
								background: url(../img/tab-nav-slide-4)no-repeat;
								background-position: center;
							}
						} 
					}

					
					.active{
						background: transparent url(../img/nav-circle.gif)no-repeat;
						background-position: center;
						a{
							background: transparent;

						}
						&:after{
							content: "";
							width: 60%;
							display: block;
							height: 1px;
							position: absolute;
							bottom: -6px;
							background: #6d6d6c;
							margin-left: auto;
							margin-right: auto;
							left:0;
							right: 0;
						}
						&:before{
							content: "";
							width: 5px;
							display: block;
							height: 1px;
							position: absolute;
							bottom: -11px; 
							margin-left: auto;
							margin-right: auto;
							left:0;
							right: 0;
							background: transparent;
							border: 0.25em solid transparent;
    						border-top: 0.25em solid #6d6d6c;
						}
					} 
				}
			}
			.carousel-wrap{
				background: #ededed;
				margin-top: 1px;
				padding: 20px 0;
				.carousel-box{
					.container{
						max-width: 845px;
					}  
					.item{
						.icon{
							padding-top:90px;
							text-align: center;
						}
						h2{
							margin:35px 0 0 0;
							padding: 0;
							font-family: 'Tinos', serif;
							font-style:italic;
							padding-bottom: 20px;
							position: relative;
							color:#000;
							&:after{
								content: "";
								width: 20px;
								display: block;
								height: 1px;
								position: absolute;
								bottom: 10px;
								background: #6d6d6c; 
								left:0; 
							}
							span{
								font-family: 'Nothing You Could Do', cursive;
							} 
						}
						p{
							font-size: 12px;
							color:#000;
							text-align: left;
							display: inline-block; 
						}
					}
				}
			} 
		}
	}
}


.aktualnosci{
	background: url(../img/assets/aktualnosci_bg.png)no-repeat;
	background-color:cover;
	background-position: center top; 
	.staticCover{  
		min-height: 325px; 
		h1{
			color: $white;
			font-weight: 300;
			line-height: 1.3; 
			padding-left: 20px; 
			position:relative;
			top:55px; 
		}
	}
	
	.act-item{
		padding-left: 5px;
		padding-right: 5px;
	}
	article{
		background: $white;
		margin-top: 10px;
		div{
			padding: 20px 30px; 
			h3{
				font-size: 14px;
				color: #202020;
				text-align: center;
				margin-top: 0;
				text-transform: uppercase;
				line-height: 1.4;
				padding-bottom: 20px;
				border-bottom:1px solid #dadada;
			}
			p{
				font-size: 14px;
				color: #838281;
				text-align: center;

			}
		}
	}
} 
.about-lyreco{  
	.staticCover{ 
		background: url(../img/assets/about_cover.png)no-repeat;
		background-position: center top;
		min-height: 376px; 
		h1{
			color: $white;
			font-weight: 300;
			line-height: 1.3; 
			padding-left: 20px; 
			position:relative;
			top:55px; 
		} 
	}

	h2{
		font-family: 'Tinos', serif;
		font-size: 48px;
		font-weight: normal;
	}

	p{
		font-size: 14px;
		color: #838281; 
	} 
	.item{
		padding-left: 5px;
		padding-right: 5px;
		.box{
			margin:20px 0;
			min-height: 311px;
			padding:25px 10px 25px 10px;
			h3{
				font-size: 14px;
				color: #202020;
				text-align: center;
				margin-top: 0;
				text-transform: uppercase;
				line-height: 1.4;
				padding-bottom: 20px;
				border-bottom:1px solid #dadada; 
				min-height: 80px;
				width: 100%;
				display: table;
				span{
					display: table-cell;
					vertical-align: middle;
					width: 100%; 
				}
			}
			p{
				font-size: 14px;
				color: #838281;
				text-align: center;
				padding-bottom: 0;
			}
			
			&:hover{
				background: $gold;
				h3{
					color: $white;
					border-color:$white;
				}
				p{
					color: $white;
				}
			}
		}
		.active{
			background: $gold;
			h3{
				color: $white;
				border-color:$white;
			}
			p{
				color: $white;
			}
		} 
	} 
}


.akcesories{
	background:#dfd6cc;
	.staticCover{  
		background: url(../img/assets/akcesories_cover.png)no-repeat;
		background-position: center top;
		min-height: 471px;
		h1{
			color: $white;
			font-weight: 200;
			line-height: 1.3; 
			padding-left: 20px; 
			position:relative;
			top:55px; 
		}
	}
	.item-akcesories{
		padding-left: 5px;
		padding-right: 5px;
		.box{
			margin:5px 0;
			min-height: 311px;
			padding:25px 10px 25px 10px;
			background: $white;
			position: relative; 
			h3{
				font-size: 14px;
				color: #202020;
				text-align: center;
				margin-top: 0;
				text-transform: uppercase;
				line-height: 1.4;
				padding-bottom: 20px;
				border-bottom:1px solid #dadada; 
				min-height: 80px;
				width: 100%;
				display: table;
				span{
					display: table-cell;
					vertical-align: middle;
					width: 100%; 
				}
			}
			.apla{
				display: none;
				div{
					margin:10px;
					border:1px solid $white;
					padding: 10px;
					height: 88%;
					i{
						width: 50px;
						height: 50px;
						padding: 10px;
						border-radius:50%;
						background: $gold;
						position: absolute;
						margin-left: auto;
						margin-right:auto;
						bottom:10px;
						left: 0;
						right: 0;
						span{
							width: 40px;
							height: 40px;
							position:relative;
							border:1px solid $white;
							border-radius:100%;
							display: block;
							margin-left: -5px;
							color: $white;
							text-align: center;
							line-height: auto;
							font-size: 30px;
							&:before{
								position:relative;
								top:4px;
							}
						}
					}
				}
				h3{
					font-size: 14px;
					color: $white;
					text-align: center;
					margin-top: 0;
					text-transform: uppercase;
					line-height: 1.4;
					padding-bottom: 20px;
					border-bottom:1px solid $white; 
					min-height: 80px;
					width: 100%;
					display: table;
					span{
						display: table-cell;
						vertical-align: middle;
						width: 100%; 
					} 
				}
				p{
					color: $white;
					text-align: center;
					font-size: 14px;
				}
			}
		}
		&:hover{
			.box{
				.apla{
					width: 100%;
					height: 100%;
					background:$gold;
					position:absolute;
					top:0;
					left:0;
					display: block; 
				}
			} 
		}
	}
}



.single-akcesories{
	background:#785739 url(../img/assets/top_single_accesories.png) no-repeat center top; 
	.single-box{
	padding-top:50px;   
		.product_img{
			display:table; 
			width: 100%;  
			height: 750px; 
			div{
				display: table-cell;
				vertical-align: middle; 
				width: 100%;
				text-align: center;
				img{ 
					max-width: 100%; 
				}
			}
		}
		.description{
			display:table; 
			width: 100%;  
			 height: 750px;
			> div{
				display: table-cell;
				vertical-align: middle; 
				width: 100%; 
				h1{
					color: $white;
					font-family: 'Tinos', serif;
					font-size: 48px; 
					padding-bottom: 10px;
					border-bottom:1px solid $gold;
				}
				p{
					color: $white;
					font-size: 17px;
					padding: 22px 0;
					font-weight: 200;
				}
				.small-product-box{
					margin: 50px 0 0 0;
					border:1px solid #573d26;
					padding-bottom: 10px;
					h3{
						font-size: 13px;
						color: $white;
						text-align: center;
						background:#573d26;
						margin:0;
						padding: 20px 30px 40px 30px;
					}
					img{
						display: block;
						margin:0 auto;
						margin-top: -40px;

					}
				}
			}
		}
	}  
}


.single-kawa{
	background:#355572 url(../img/assets/bg-repeat-single-kawa.png) repeat-x; 
	.single-box{
	padding-top:50px;   
		.product_img{
			display:table; 
			width: 100%;  
			height: 750px;
			background: url(../img/assets/caps_bg.png) no-repeat;
			// background: url(../img/assets/temp.png) no-repeat;
			background-position: center center; 
			div{
				display: table-cell;
				vertical-align: middle; 
				width: 100%;
				text-align: center;
				img{ 
					max-width: 100%; 
				}
			}
		}
		.description{
			display:table; 
			width: 100%;  
			 height: 750px;
			> div{
				display: table-cell;
				vertical-align: middle; 
				width: 100%; 
				h1{
					color: $white;
					font-family: 'Tinos', serif;
					font-size: 48px; 
					padding-bottom: 10px;
					position: relative;
					display: inline-block;
					&:after{
						content: "";
						width: 50%;
						height: 1px;
						background: $gold;
						position: absolute;
						bottom: 0px;
						right: 0;
					}

				}
				p{
					color: $white;
					font-size: 17px;
					padding: 22px 0;
					font-weight: 200;
				}
				.small-product-box{
					margin: 50px 0 0 0;
					border:1px solid #573d26;
					padding-bottom: 10px;
					h3{
						font-size: 13px;
						color: $white;
						text-align: center;
						background:#573d26;
						margin:0;
						padding: 20px 30px 40px 30px;
					}
					img{
						display: block;
						margin:0 auto;
						margin-top: -40px;

					}
				}
			}
			.tabs{ 
				> span{
				color: $gold;
				position: relative;
				top: -20px;
				letter-spacing: 1px;
				font-size: 11px;
				margin-bottom: 50px;
				display: block; 
				} 
				.nav-tabs{
					margin-top: 25px;
					li{
						position: relative;
						border-top:1px solid #708191; 
					 	border-radius: 6px; 
						 &:first-child{
						 	margin-left: 20px;
						 	&:before{
						 		content:"";
						 		width: 1px;
						 		height: 30px;
						 		background: #708191;
						 		position: absolute;
						 		left: -3px;
						 		top:2px;
						 		-ms-transform: rotate(13deg); /* IE 9 */
							    -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
							    transform: rotate(13deg);
						 	} 
						 }
						 &:nth-child(2){
						 	left:-2px;
						 	&:after{
						 		content:"";
						 		width: 1px;
						 		height: 30px;
						 		background: #708191;
						 		position: absolute;
						 		right: -3px;
						 		top:2px;
						 		-ms-transform: rotate(-13deg); /* IE 9 */
							    -webkit-transform: rotate(-13deg); /* Chrome, Safari, Opera */
							    transform: rotate(-13deg);
						 	} 
						 }
						 &:nth-child(3){
						 	left:-4px;
						 	&:after{
						 		content:"";
						 		width: 1px;
						 		height: 30px;
						 		background: #708191;
						 		position: absolute;
						 		right: -3px;
						 		top:2px;
						 		-ms-transform: rotate(-13deg); /* IE 9 */
							    -webkit-transform: rotate(-13deg); /* Chrome, Safari, Opera */
							    transform: rotate(-13deg);
						 	} 
						 }

						  a{
					 		font-size: 10px;
					 		color: #708191;
					 		background: transparent;
					 		text-transform: uppercase; 
					 		border:none;
					 		letter-spacing: 1px;
					 	}

					}
					.active{
						border-top-color:#fff;
						&:first-child{ 
							&:before{
								background: #fff;
							}
						 	&:after{
						 		content:"";
						 		width: 1px;
						 		height: 30px;
						 		background: #fff;
						 		position: absolute;
						 		right: -3px;
						 		top:2px;
						 		-ms-transform: rotate(-13deg); /* IE 9 */
							    -webkit-transform: rotate(-13deg); /* Chrome, Safari, Opera */
							    transform: rotate(-13deg);
						 	} 
						 }
						 &:nth-child(2){
							&:after{ 
						 		background: #fff; 
						 	}
							&:before{
						 		content:"";
						 		width: 1px;
						 		height: 30px;
						 		background: #fff;
						 		position: absolute;
						 		left: -3px;
						 		top:2px;
						 		-ms-transform: rotate(13deg); /* IE 9 */
							    -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
							    transform: rotate(13deg);
						 	}
						 }
						&:nth-child(3){
							&:after{ 
						 		background: #fff; 
						 	}
							&:before{
						 		content:"";
						 		width: 1px;
						 		height: 30px;
						 		background: #fff;
						 		position: absolute;
						 		left: -3px;
						 		top:2px;
						 		-ms-transform: rotate(13deg); /* IE 9 */
							    -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
							    transform: rotate(13deg);
						 	} 
						 } 
						 a{
						 	color:$white;
						 }
					} 
				}
			}
			.tab-content{
				min-height: 400px;
				position: relative; 
				p{
					line-height: 1.5;
					font-weight: 300;
				}
				ul{
					li{
						list-style: none; 
						margin: 10px 0;
						span{ 
							color:$white;
							padding-right: 10px;
							border-right: 1px solid #9da9b3;
							margin-right: 10px;
						}
						em{
							color:#fdc038;
							font-style: normal;
						}
						ol{
							display: inline-block;
							padding: 0;
							margin: 0;
							position: relative;
							top:15px;
							left: 10px;
							li{
								width: 13px;
								height: 20px;
								background: url(../img/grain.png)no-repeat;
								background-position: -14px 0;  
								display: inline-block;
								margin-left: -2px; 
							}
							.active{
								background-position: 0 0;
							} 
						}

						p{
							color:#fdc038;
							display: inline-block;
							margin:0;
							padding: 0;
						}
						i{
							display: inline-block;
							width:27px;
							height: 21px;
							background: url(../img/ico_cup_size.png)no-repeat;
							position: relative;
							top: 4px; 
						}
					}
				}
				button{
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}
	}  
}
.kontakt{
	.navbar{
		height: 64px;
		background: rgba(35, 35, 35, 0.7);
		.navbar-brand{
			margin-top: -10px;
		}
		.brand-nespresso{
			margin-top: 0!important;
			padding-top: 0;
			&:after{
				height: 64px;
			}
		}
		.nav{
			li {
				a{
					line-height: 64px; 
				}
				&:after{
					top:26.5px;
				}
			}
		}
		.lang{
			li{
				a{
					line-height: 64px; 
				}
			}
		}
		.fa-search{
		 	margin-top: 24px;
		 }
	}
	#map{
		width:100%;
		height:500px; 
		display:block;
	}
	p{
	color:$dark;
	}
	#subPageContent{
	padding:50px 0;
	}
	#contact-form{
		.wpcf7-form-control-wrap{
				input{
					width: 100%;
					height: 50px;
					padding:0 10px;
					border:1px solid $dark;
					&:focus{
						box-shadow: none;
						outline: none;
					}
				}
				textarea{
					width: 100%;
					padding:10px;
					height: 250px;
					border:1px solid $dark; 
				}
		}
		.wpcf7-submit{
 
			border:1px solid $dark;
			color:$dark; 
			font-size:13px;
			text-transform: uppercase;
			padding: 10px 30px;
			background: transparent;
			font-weight: 400;
			&:hover{
				background: $dark;
				border-color:transparent;
				color: $white;
			}

		}
	
	}
}


///     MQ   ///

@media (max-width:767px) { 
 
.breadcrumbs{
	display: none;
}
.staticCover{ 
	.staticCoverWrapper {
		.desc{
			position: relative;
			width: 100%; 
			right:0;
			padding-bottom: 40px;
			max-width: 100%;
			p{
				padding-top: 20px;
			}
			.title{
				margin-top: 20px;
				h1{
					text-align: center;
					font-size: 45px; 
				}
			} 
		}
	}
}

 #contactLine {
 	padding-top: 40px;
    padding-bottom: 40px;
  .pull-right{
  	float: none!important;
  }
  .btn{ 
  	margin:10px auto;
  
  }
 	.phone{ 
 		float: none!important;
 		display: inline-block;
 		width: 100%;
 		a{
 			top:5!important;
 			width: 100%;
 			margin-left: 0!important;
 		}
 		span{
 			top:8px!important;
 			width: 100%;
 		}
 	}
 	.mail{ 
 		float: none!important;
 		display: inline-block; 
 		width: 100%;
 		a{
 			top:5!important;
 			margin-left: 0!important;
 			width: 100%;
 		}
 		span{
 			top:8px!important;
 			width: 100%;
 		}
 	}
 }
 #subPageContent{
	 .dotPattern{
	 	margin-bottom: 0;
	 	margin-top: 0;
	 	padding: 10px 0;
	 	.wrap{
	 		ul{
	 			li{
	 				width: 100%;
	 				margin:0 0;
	 				min-height: 1px;
	 			}
	 		}
	 	}
	 }
	 .details{ 
	 		div{  
	 			ul{
	 				padding-left: 20px!important;
	 				    width: 100% !important; 
	 				    float: left;
    
	 			}
	 			min-height: 1px!important; 
		 	} 
 			.middleBox, .boxBigger, .boxSmaller {
 				border: 8px solid #232323;
 				min-height: 1px;
 				height: auto!important;
 				margin-bottom: 5px;
 				max-width: 100%!important;
 			}
	 	 
	 } 
 }


 

.augila{
	.staticCover{
		background-position: center -50vh!important;
	}
	#subPageContent{
		background-size: cover;
	}
	.staticCoverWrapper{

		img{
			margin-top: 15vh;
		}
	}
} 

.gemini{
	.staticCover{
		background-position: center -50vh!important;
	}
	#subPageContent{
		background-size: cover;
	}
	.staticCoverWrapper{
		img{
			margin-top: 15vh;
		}
	}
}

.systemTower{

	#subPageContent{
		background-size: cover;
	}
	.staticCover{ 
		background-position: center -50vh!important; 
		.staticCoverWrapper{
			img{
				margin-top: 100px;
			}
			.desc{
				padding-top:0!important;
				h1{
					color: #809f5c!important;
					text-shadow:none!important;
				}
			}
		}
	} 
}

.zenius{
	.staticCover{ 
		background-position: center -50vh!important; 
	}
}
.carousel-caption{
	text-align: left;
	text-shadow:none;
	bottom: auto;
	top:60px;
	left:0;
	right: 0;
}

	.sliderExert{
		text-align:center;    
	img{
		width:100%;
		height: auto;
	}
	p{
		margin-top: 15px;
		font-size: 15px;
		line-height: 1.4;
	}
	h1{
		font-weight:300;
		color: $white; 
		font-size:30px;
	}
	.clipped{
		font-size:50px;  
	}
	.clipped_in{
		background: url(../img/text_bg.png) 35% 54%;
		background-size: cover;
		color: $white;
		font-weight: 700;
		-webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
		-webkit-background-clip: text;
	}
	.btn{
		margin-top:15px;
	}
}

#sliderNav{
	display:none;
}
#slide1{
	 min-height: 580px;
	.img-box{ 
		left:auto;
		right:auto;
		top:25px; 
	 
	}
}
#slide2{
		min-height: 580px;
	h1{
		padding-left:0;
		border:none;
	}
	.img-box{ 
		left:auto;
		right:auto;
		top: 25px;
		padding: 20px; 
	} 
}

#slide3{ 
	min-height: 580px;
	h1{
		font-size: 26px;
	}
	.img-box{
		position: relative; 
		left:auto;
		right:auto; 
		top: 25px;
		padding: 20px;
	}
}


#about{
	overflow: hidden;
	.box-xl{
		left:0;
		right:0;
		padding: 15px 15px;
		margin-bottom: 15px;
		.box-blContent {
 			h3{
				 font-size: 30px;
			 }
		}
	}

	.box-l{
		margin-top:15px;
		span{
			h3{
				font-size: 16px;
				padding: 0px 30px;
				bottom: 15px;
			}
		}
		button{
			display:none;
		}
	}

	.box-s{
		margin-top:15px;
	}
} 

#article{
	background-position: 49% bottom;
	min-height: 870px;
	.articles{
		margin-top:0; 
	}
		.owl-carousel { 
		.owl-item { 
			padding:0 10px;
			&:nth-child(2n){
				margin-top: 5px;
			} 
		} 
		img{
			display: block;
			width: 100%;
			-webkit-transform-style: preserve-3d;
		}
	}  
}

footer{
	.brand{
		width:100%;  
		padding: 25px 0;
		text-align: center;
		border-bottom:1px solid #454545;
		img{
			max-width: 60%;
		}	
	}
	.bottomNav{
		padding: 25px 0;
		text-align: center;
		border-bottom:1px solid #454545;
		border-left:none;
		li{
			border:1px solid $white;
			margin-bottom: 5px;
			&:first-child{
				margin-left: 0;
			} 
			&:after{
				display: none;
			}
		} 
	} 
 	.creator {
		display: block;
		width: 130px;
		margin: 20px auto;
		float: none!important;
	}
}

.navbar.slide-active {
	position: absolute;
	width: 80%;
	top: -1px;
	z-index: 1000;
} 
	#slidemenu {
	background: #000;
	left: -100%;
	width: 80%;
	min-width: 0;
	position: absolute;
	padding-left: 0;
	z-index: 2;
	top: 0px;
	margin: 0;
	padding-left: 0;
	
	.navbar-nav{ 
	}
	.slide-active{
		border:solid red!important;
	}

} 

 

	.navbar{ 
	.navbar-header{
		.navbar-brand{
			max-width: 90px;
			padding-right: 0px !important;
			padding-left: 0!important;
			img{
				margin-top: 25px;
			}
		}
		.brand-nespresso{
		 padding-top: 0;
		 margin-left:0;
		 &:after{
			 display: none;
		 }
		}
		button{
			border:none;
			padding: 25px 15px;
		}
	} 
		.nav { 
			min-width: 0;
			width: 100%;
			margin: 0;
			padding-left:0;
			li{ 
				display: block;
				border-bottom:1px solid #454545; 
				a{
					line-height: 1;
					padding:20px 0;
					padding-left: 20px;
					display: block;
					text-align: left!important; 
				}
				&:after{
					display: none!important;
				} 
			}
			.dropdown-menu{ 
			transition: all 0.2s ease-in;
		  -webkit-transition: all 0.2s ease-in;
		  -moz-transition: all 0.2s ease-in;
		  -o-transition: all 0.2s ease-in;
				li{ 
					a{
						min-width: 0;
						width: 80%;
						white-space: normal;
						
						
					}
				}
			}
		}
	} 


	.nav-box-row{
			.box-nav{ 
				li{
						margin-top:5px;
				}
			}
		}

	.aktualnosci{
		background-position: fixed;
		background-attachment: fixed;
		.staticCover{ 
			min-height: 200px;
			.staticCoverWrapper{
				padding-top: 75px;
			}
		}
		.act-item{
				padding-left: 15px;
				padding-right: 15px;
			article{ 
				a{
					img{
						width: 100%;
						height: auto; 
					}
				} 
			}
		} 
	}

	.about-lyreco{
		h2{
			font-size: 26px;
		}
		.item{
			padding-left: 15px;
			padding-right: 15px;
			.box{
				margin:0 0;
				min-height: 1px; 
			}
		}
	}
	.categoryKawa{
		.staticCover {
			h1{
				margin-top:0;
			}
			p{
				font-size: 15px;
			}
		}
		.coffe-items{
 			.item{
				 padding-left: 15px;
				 padding-right: 15px;
				 .box{
					 
				 }
			 } 
		}
		.box-more{
			padding-left: 15px;
			padding-right: 15px;
			.more-info{
				padding: 20px 10px;
				background-position: 150px 0px;
				h2{
					margin-top:50px;
				}
			}
		}
		.how-it-works{
			.box{
				p{
					padding: 15px;
				}
			}
		}
		.tab-slider{
				padding-top:0;
				top:0; 
			#tabSlider{ 
				.carousel-wrap{
					padding: 0 0;
					.carousel-box{
						.item{
							.icon{
								padding-top: 50px;
							}
							h2{
								text-align: center;
								&:after{
									width: 100%;
								}
							}  
						}
					}
				}
				.nav-box{
					.nav { 
						li{
							a{
    						padding: 10px 9px;
							}
						}
						.active{
							background-size: contain;
						} 
					}
				}
			} 
		}
	}


	 .categoryEkspress{
		 #subPageContent{
			.itemBox{
				margin-bottom: 15px;
				.headline{
					display: block;
					min-height:1px;
					h2{ 
						font-size: 46px;
						text-align: center;
						display: block;
						width:100%;
						margin:0 auto;
						padding: 25px 0;
					}
				}
				.details{
					padding: 0 10px;
					.btn-dark{
						margin-top:25px;
						display: block;
					}
				}
				.label{
					min-height: 225px;
					img{
						right: 0;
					}
					.LabelLine{
						display:none;
					}
					.labelTriangle{
						bottom:-1px;
					}
				} 
			} 
		 }  
	 }
	 
} 

