html, body {
  background: transparent;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto; }

* {
  outline: none;
  box-sizing: border-box; }

a:link {
  text-decoration: none; }

*:focus {
  background: transparent !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h2 {
  font-size: 26px;
  margin: 50px 0;
  font-weight: 300; }

h4 {
  font-size: 16px;
  margin: 20px 0; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  line-height: 1.7; }

a, i, button, span, input, select, textarea {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    padding: 0;
    margin: 0; }

.customTransition {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in; }

.container {
  max-width: 1180px; }

/* main-search */
#main-search-filed {
  position: absolute;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  margin-top: 63px;
  width: 100%;
  height: 75px; }
  #main-search-filed input {
    background: none;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    line-height: 75px;
    width: 70%;
    height: 75px;
    float: left;
    border: none; }
  #main-search-filed button {
    margin-top: 15px;
    width: 45px;
    height: 45px;
    float: right;
    background: #e1a829;
    border: none;
    color: #fff; }

.navbar {
  background: transparent;
  border-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  .navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px !important; }
  .navbar .brand-nespresso {
    padding-top: 20px;
    position: relative; }
    .navbar .brand-nespresso:after {
      content: " ";
      width: 1px;
      height: 85px;
      position: absolute;
      right: -50px;
      top: 0px;
      background: #e1a829;
      display: block; }
  .navbar .navbar-collapse {
    position: relative; }
  .navbar .nav {
    padding-left: 10px; }
    .navbar .nav li {
      position: relative;
      padding: 0;
      margin: 0px 5px; }
      .navbar .nav li a {
        line-height: 75px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
        color: #fff;
        text-shadow: none;
        font-size: 14px;
        text-align: center !important;
        position: relative;
        font-weight: 400; }
      .navbar .nav li:after {
        content: "";
        width: 1px;
        height: 10px;
        background: #9c8977;
        position: absolute;
        right: -5px;
        top: 32.5px;
        display: inline-block; }
      .navbar .nav li:hover a {
        text-shadow: none;
        background: transparent;
        color: #e1a829; }
      .navbar .nav li .dropdown-menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100% !important;
        max-width: 1180px;
        border: none;
        -webkit-appearance: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0 0;
        opacity: 0; }
        .navbar .nav li .dropdown-menu li {
          display: inline-block;
          width: 24.999%;
          margin: 0;
          padding: 0;
          float: left;
          background-color: #fff !important; }
          .navbar .nav li .dropdown-menu li:hover {
            background: #fff; }
          .navbar .nav li .dropdown-menu li > a {
            line-height: auto;
            padding: 10px 8px; }
            .navbar .nav li .dropdown-menu li > a p {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 100;
              float: left;
              font-size: 18px;
              color: #140904;
              line-height: 100%;
              background: #fff;
              padding: 13px 16px; }
              .navbar .nav li .dropdown-menu li > a p:before {
                content: "";
                width: 0;
                height: 0;
                border-top: 44px solid #fff;
                border-right: 44px solid transparent;
                position: absolute;
                right: -44px;
                top: 0; }
            .navbar .nav li .dropdown-menu li > a .navThumb {
              background: #fff;
              width: 100%;
              height: auto;
              padding-bottom: 10px;
              float: left; }
              .navbar .nav li .dropdown-menu li > a .navThumb img {
                width: 100%;
                height: auto;
                mix-blend-mode: multiply; }
              .navbar .nav li .dropdown-menu li > a .navThumb span {
                transition: background-color .5s ease-out;
                isolation: isolate;
                background-color: #543521;
                width: 100%;
                height: 100%;
                float: left; }
            .navbar .nav li .dropdown-menu li > a .current span {
              background-color: transparent; }
            .navbar .nav li .dropdown-menu li > a:hover {
              background: #fff; }
              .navbar .nav li .dropdown-menu li > a:hover .navThumb span {
                background-color: transparent; }
    .navbar .nav .dropdown {
      position: static;
      background: transparent; }
      .navbar .nav .dropdown:hover {
        background: #fff !important;
        color: #e1a829; }
      .navbar .nav .dropdown:focus {
        background-color: transparent; }
    .navbar .nav .current {
      background: #e1a829; }
      .navbar .nav .current a:hover {
        color: #232323; }
    .navbar .nav .open {
      position: static;
      background: transparent;
      box-shadow: none;
      background-: transparent; }
      .navbar .nav .open > a {
        box-shadow: none;
        background: none;
        color: #140904 !important; }
        .navbar .nav .open > a:focus {
          background-color: transparent; }
        .navbar .nav .open > a:hover {
          color: #140904 !important; }
      .navbar .nav .open .dropdown-menu {
        display: inline-block;
        margin: 0 auto;
        opacity: 1;
        transition: visibility 0s, opacity 1.5s linear; }
      .navbar .nav .open:hover a {
        background: transparent; }
  .navbar .lang {
    float: left;
    margin: 0;
    padding-left: 0; }
    .navbar .lang li {
      list-style: none;
      display: inline-block; }
      .navbar .lang li > a {
        line-height: 75px;
        color: #fff;
        padding-left: 10px; }
      .navbar .lang li:first-child:after {
        content: "";
        width: 1px;
        height: 10px;
        background: #e1a829;
        position: relative;
        right: -5px;
        display: inline-block; }
      .navbar .lang li:after {
        display: none; }
  .navbar .fa-search {
    color: #fff;
    margin-top: 30px;
    margin-left: 14px;
    font-size: 14px; }
    .navbar .fa-search:hover {
      color: #e1a829;
      cursor: pointer; }

.btn {
  line-height: 100%;
  border-radius: 0; }

.btn-custom {
  background: transparent;
  font-family: 'Lato', sans-serif;
  padding: 15px 20px; }

.btn-white {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px; }
  .btn-white:hover {
    background: #fff;
    border-color: transparent;
    color: #140904; }

.btn-brown {
  border: 1px solid #6e5239;
  color: #140904;
  font-size: 12px; }
  .btn-brown:hover {
    background: #6e5239;
    border-color: transparent;
    color: #fff; }

.btn-dark {
  border: 1px solid #232323;
  color: #232323;
  font-size: 13px; }
  .btn-dark:hover {
    background: #232323;
    border-color: transparent;
    color: #fff; }

.sliderWraper {
  width: 100%;
  height: auto; }
  .sliderWraper .sliderContent {
    padding-top: 170px;
    padding-bottom: 56px; }

.carousel-caption {
  text-align: left;
  text-shadow: none;
  bottom: auto;
  top: 180px; }

.sliderExert img {
  width: 100%;
  height: auto; }
.sliderExert p {
  margin-top: 23px; }
.sliderExert h1 {
  font-weight: 300;
  color: #fff; }
.sliderExert .clipped {
  background: url(../img/text_bg.png) 35% 54%;
  background-size: cover;
  color: #fff;
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  /* overrides the white text color in webkit browsers */
  -webkit-background-clip: text; }
.sliderExert .clipped_in {
  background: url(../img/text_bg.png) 35% 54%;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  /* overrides the white text color in webkit browsers */
  -webkit-background-clip: text; }
.sliderExert .btn {
  margin-top: 40px; }

.slide1 {
  background: url(../img/assets/slide_1_bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 767px; }
  .slide1 .img-box {
    position: relative;
    top: 100px;
    left: -36px; }

.slide2 {
  background: url(../img/assets/slide_2_bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 767px; }
  .slide2 .sliderExert {
    padding-left: 0 !important; }
    .slide2 .sliderExert h1 {
      border-left: 1px solid #db4229;
      padding-left: 22px;
      max-width: 340px; }
    .slide2 .sliderExert .btn {
      margin-left: 22px; }
  .slide2 .img-box {
    position: relative;
    bottom: -100px;
    right: -200px; }

.slide3 {
  background: url(../img/assets/slide_3_bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 767px; }
  .slide3 .sliderExert {
    padding-left: 0 !important; }
    .slide3 .sliderExert h1 {
      max-width: 300px; }
    .slide3 .sliderExert .btn {
      background-color: rgba(0, 0, 0, 0.3); }
      .slide3 .sliderExert .btn:hover {
        background: #fff; }

/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-nav {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1180px;
  bottom: 93px; }
  .cd-slider-nav nav {
    top: 17px;
    padding-top: 23px;
    float: left;
    position: relative;
    width: 50%;
    max-width: 493px;
    padding-left: 58px; }
    .cd-slider-nav nav:after {
      content: "";
      width: 100%;
      height: 8px;
      background: #232323;
      position: absolute;
      left: 0;
      top: -8px; }
    .cd-slider-nav nav > a {
      width: 20px;
      height: 36px;
      display: block;
      position: relative;
      z-index: 2; }
    .cd-slider-nav nav a.next {
      background: url(../img/arrow_right.png) no-repeat;
      background-position: 0 -36px;
      display: inline-block; }
      .cd-slider-nav nav a.next:focus {
        background: url(../img/arrow_right.png) no-repeat !important;
        background-position: 0 -36px !important;
        display: inline-block; }
    .cd-slider-nav nav a.prev {
      background: url(../img/arrow_left.png) no-repeat;
      background-position: 0 -36px;
      display: inline-block; }
      .cd-slider-nav nav a.prev:focus {
        background: url(../img/arrow_left.png) no-repeat !important;
        background-position: 0 -36px !important; }
    .cd-slider-nav nav .carousel-indicators {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 8px;
      display: inline-block;
      position: relative;
      left: 0;
      top: -7px;
      right: 0;
      margin: 0 0;
      width: auto; }
      .cd-slider-nav nav .carousel-indicators li {
        width: 12px;
        height: 12px;
        border: solid #645025 1px;
        margin: 5px 5px;
        border-radius: 0; }
      .cd-slider-nav nav .carousel-indicators .active {
        background: #000; }

.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li, .cd-slider-nav a {
  height: 100%; }

.cd-slider-nav nav {
  display: inline-block;
  position: relative; }

.cd-slider-nav ul::after {
  clear: both;
  content: "";
  display: table; }

.cd-slider-nav li {
  display: inline-block;
  width: 60px;
  float: left; }

.cd-slider-nav li.selected a {
  color: #2c343b; }

.no-touch .cd-slider-nav li.selected a:hover {
  background-color: transparent; }

.cd-slider-nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.cd-slider-nav a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../assets/cd-icon-navigation.svg) no-repeat 0 0; }

.no-touch .cd-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5); }

/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .slider li {
  display: none; }

.no-js .slider li.selected {
  display: block; }

.no-js .cd-slider-nav {
  display: none; }

.redElements .brand-nespresso:after {
  background: #db4229; }
.redElements .nav li a:hover {
  color: #db4229 !important; }
.redElements .nav .current {
  background: #db4229 !important; }
.redElements .lang li:first-child:after {
  background: #db4229; }
.redElements .fa-search:hover {
  color: #db4229; }

.whiteElements .cd-slider-nav nav a.next {
  background: url(../img/arrow_right.png) no-repeat !important;
  background-position: 0 0; }
.whiteElements .cd-slider-nav nav a.prev {
  background: url(../img/arrow_left.png) no-repeat !important;
  background-position: 0 0; }
.whiteElements .cd-slider-nav nav .carousel-indicators li {
  border: solid #fff 1px; }
.whiteElements .cd-slider-nav nav .carousel-indicators .active {
  border: solid #fff 1px;
  background: #fff; }
.whiteElements .cd-slider-nav nav:after {
  background: #fff; }

#about {
  background-color: #f5e6d7;
  padding-bottom: 70px; }
  #about h2 {
    color: #6e5239;
    text-align: center;
    font-weight: 300; }
  #about .box-xl {
    border: solid 8px #fff;
    padding: 30px 50px;
    position: relative;
    z-index: 101; }
    #about .box-xl .box-blContent {
      position: relative;
      z-index: 100; }
      #about .box-xl .box-blContent h3 {
        font-size: 48px;
        color: #6e5239;
        text-align: left;
        font-family: 'Tinos', serif;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0; }
        #about .box-xl .box-blContent h3 span {
          font-weight: 700;
          display: block; }
      #about .box-xl .box-blContent p {
        color: #6e5239;
        max-width: 290px;
        text-align: left;
        font-size: 16px;
        line-height: 1.4; }
        #about .box-xl .box-blContent p:nth-child(2n+1) {
          max-width: 180px; }
      #about .box-xl .box-blContent .btn {
        margin-top: 30px; }
  #about .imgCup {
    position: absolute;
    top: 72px;
    right: -113px;
    z-index: 99; }
  #about .box-l,
  #about .box-s {
    position: relative;
    z-index: 101;
    cursor: pointer; }
    #about .box-l img,
    #about .box-s img {
      width: 100%;
      height: auto; }
    #about .box-l > span,
    #about .box-s > span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #about .box-l > span h3,
      #about .box-s > span h3 {
        font-size: 22px;
        color: #fff;
        font-family: 'Tinos', serif;
        position: absolute;
        bottom: 10px;
        padding: 0 30px;
        font-weight: 400;
        line-height: 1.3; }
    #about .box-l .apla,
    #about .box-s .apla {
      background: -moz-linear-gradient(top, rgba(212, 152, 98, 0.44) 1%, rgba(212, 152, 98, 0.6) 29%, #311d18 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(212, 152, 98, 0.44) 1%, rgba(212, 152, 98, 0.6) 29%, #311d18 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(212, 152, 98, 0.44) 1%, rgba(212, 152, 98, 0.6) 29%, #311d18 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d49862', endColorstr='#311d18',GradientType=0 );
      /* IE6-9 */ }
    #about .box-l .aplaDark,
    #about .box-s .aplaDark {
      background: -moz-linear-gradient(top, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.65) 99%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.65) 99%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.65) 99%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
      /* IE6-9 */
      border: 16px solid transparent; }
      #about .box-l .aplaDark div,
      #about .box-s .aplaDark div {
        float: left;
        width: 100%;
        height: 100%;
        border: solid 1px #fff; }
  #about .box-l {
    margin-top: 30px; }
    #about .box-l h3 {
      top: 30px !important;
      max-width: 240px;
      margin-top: 0; }
      #about .box-l h3 span {
        font-weight: 700; }
    #about .box-l .btn {
      position: absolute;
      left: 30px;
      bottom: 20px; }
  #about .border {
    border: solid #fff 8px; }

#article {
  min-height: 1015px;
  background: url(../img/article_bg.png) no-repeat;
  background-position: center top; }
  #article .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  #article .owl-animated-in {
    z-index: 0; }
  #article .owl-animated-out {
    z-index: 1; }
  #article .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  #article .owl-carousel {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px); }
    #article .owl-carousel .owl-refresh .owl-item {
      display: none; }
    #article .owl-carousel .owl-item {
      position: relative;
      min-height: 1px;
      float: left;
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out; }
      #article .owl-carousel .owl-item:nth-child(2n) {
        margin-top: 85px; }
    #article .owl-carousel img {
      display: block;
      width: 100%;
      -webkit-transform-style: preserve-3d; }
  #article h2 {
    text-align: center;
    padding-top: 55px; }
  #article .articles {
    margin-top: 60px; }
    #article .articles .item article {
      min-height: 420px;
      background-color: #fff;
      margin-top: 0;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(7, 6, 6, 0.12);
      -moz-box-shadow: 0px 0px 20px 0px rgba(7, 6, 6, 0.12);
      box-shadow: 0px 0px 20px 0px rgba(7, 6, 6, 0.12);
      position: relative; }
      #article .articles .item article img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0; }
      #article .articles .item article span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        #article .articles .item article span h3 {
          position: absolute;
          bottom: 30px;
          width: calc(100% - 40px);
          height: auto;
          margin-left: 20px;
          font-size: 22px;
          font-family: 'Tinos', serif;
          font-weight: 400;
          padding-bottom: 10px; }
        #article .articles .item article span p {
          font-weight: 400; }
      #article .articles .item article .cat_1 {
        /* 
        	Settings:
        	#000 Gradient 
        	#fff Text
        	$red Lineine 
        */
        background: -moz-linear-gradient(top, transparent 0%, black 90%, black 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, transparent 0%, black 90%, black 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, transparent 0%, black 90%, black 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */ }
        #article .articles .item article .cat_1 h3 {
          color: #fff;
          border-bottom: 1px solid #db4229; }
      #article .articles .item article .cat_2 {
        /* 
        	Settings:
        	#000 Gradient 
        	#fff Text
        	$gold Lineine 
        */
        background: -moz-linear-gradient(top, transparent 21%, rgba(2, 1, 1, 0) 22%, #6e4337 86%, #845142 99%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, transparent 21%, rgba(2, 1, 1, 0) 22%, #6e4337 86%, #845142 99%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, transparent 21%, rgba(2, 1, 1, 0) 22%, #6e4337 86%, #845142 99%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#845142',GradientType=0 );
        /* IE6-9 */ }
        #article .articles .item article .cat_2 h3 {
          color: #fff;
          border-bottom: 1px solid #e1a829; }
      #article .articles .item article .cat_3 {
        /* 
        	Settings:
        	$white Gradient 
        	#fff Text
        	$red Lineine 
        */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 21%, rgba(255, 255, 255, 0) 22%, white 84%, white 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 21%, rgba(255, 255, 255, 0) 22%, white 84%, white 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 21%, rgba(255, 255, 255, 0) 22%, white 84%, white 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        /* IE6-9 */ }
        #article .articles .item article .cat_3 h3 {
          color: #232323;
          border-bottom: 1px solid #db4229; }
      #article .articles .item article .cat_4 {
        /* 
        	Settings:
        	$brown Gradient 
        	#fff Text
        	$red Lineine 
        */
        background: -moz-linear-gradient(top, rgba(119, 87, 66, 0) 21%, rgba(119, 87, 66, 0) 22%, #775742 84%, #775742 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(119, 87, 66, 0) 21%, rgba(119, 87, 66, 0) 22%, #775742 84%, #775742 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(119, 87, 66, 0) 21%, rgba(119, 87, 66, 0) 22%, #775742 84%, #775742 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00775742', endColorstr='#775742',GradientType=0 );
        /* IE6-9 */ }
        #article .articles .item article .cat_4 h3 {
          color: #fff;
          border-bottom: 1px solid #e1a829; }

footer {
  background-color: #232323;
  min-height: 318px; }
  footer .brand {
    display: inline-block;
    padding-top: 20px;
    padding-right: 40px; }
    footer .brand img {
      max-width: 100%;
      height: auto; }
  footer .bottomNav {
    display: inline-block;
    border-left: 1px solid #e1a829;
    padding: 40px 0; }
    footer .bottomNav li {
      list-style: none;
      display: inline-block;
      padding: 0 15px; }
      footer .bottomNav li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px; }
        footer .bottomNav li a:hover {
          color: #e1a829; }
      footer .bottomNav li:after {
        content: "";
        width: 1px;
        height: 10px;
        background: #fff;
        position: relative;
        right: -15px;
        top: 0px;
        display: inline-block; }
      footer .bottomNav li:first-child {
        margin-left: 50px; }
      footer .bottomNav li:last-child:after {
        display: none; }
  footer .creator {
    margin-top: 40px;
    width: 130px; }
    footer .creator span {
      font-size: 12px;
      color: #8a8a8a;
      font-family: 'Lato', sans-serif;
      line-height: 30px;
      margin-right: 10px;
      display: inline-block;
      float: left; }
    footer .creator img {
      float: right;
      display: inline-block; }

/*

SUBPAGES EKSPRESS

*/
.staticCover {
  width: 100%;
  min-height: 580px; }
  .staticCover .breadcrumbs {
    padding-top: 140px;
    padding-left: 30px; }
    .staticCover .breadcrumbs ul {
      padding: 0; }
      .staticCover .breadcrumbs ul li {
        display: inline-block;
        margin-right: 10px;
        font-size: 12px; }
        .staticCover .breadcrumbs ul li:after {
          content: "/";
          color: #726558;
          position: relative;
          right: -5px; }
        .staticCover .breadcrumbs ul li a {
          color: #fff; }
          .staticCover .breadcrumbs ul li a:hover {
            color: #e1a829; }
        .staticCover .breadcrumbs ul li span {
          color: #e1a829; }
        .staticCover .breadcrumbs ul li:last-child:after {
          display: none; }
  .staticCover .staticCoverWrapper {
    position: relative;
    padding-top: 130px; }
    .staticCover .staticCoverWrapper .desc {
      position: absolute;
      right: 12px;
      max-width: 323px;
      padding-bottom: 48px; }
      .staticCover .staticCoverWrapper .desc .title {
        width: 100%;
        background-position: left top;
        margin-top: 60px;
        padding-right: 20px; }
        .staticCover .staticCoverWrapper .desc .title h1 {
          font-family: 'Tinos', serif;
          font-weight: bold;
          font-size: 60px;
          text-align: right; }
      .staticCover .staticCoverWrapper .desc p {
        font-size: 14px;
        padding-top: 40px; }

#subPageContent {
  padding-bottom: 50px; }
  #subPageContent h4 {
    font-size: 13px;
    font-weight: 400;
    float: left;
    margin-right: 30px;
    padding-right: 30px;
    line-height: 33px;
    min-height: 33px;
    text-transform: uppercase; }
  #subPageContent #contactLine {
    padding-top: 40px; }
    #subPageContent #contactLine h4 {
      margin-top: 10px; }
    #subPageContent #contactLine span {
      float: left;
      font-size: 13px;
      position: relative;
      top: 16px; }
    #subPageContent #contactLine a {
      float: left;
      font-size: 24px;
      color: #414141;
      font-weight: 300;
      margin-left: 10px;
      position: relative;
      top: 7px; }
    #subPageContent #contactLine .btn {
      position: relative;
      top: 4px;
      padding: 16px 24px; }
  #subPageContent .dotPattern {
    padding: 36px 0;
    margin-top: 55px;
    margin-bottom: 46px;
    background: url(../img/dot_pattern.png) repeat; }
    #subPageContent .dotPattern ul li {
      list-style: none;
      display: inline-block;
      width: 20%;
      min-height: 50px;
      float: left;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 0px;
      color: #232323;
      position: relative;
      margin: 10px 0; }
      #subPageContent .dotPattern ul li i {
        width: 55px;
        height: 48px;
        display: inline-block;
        position: relative;
        float: left;
        background-position: 0 0; }
      #subPageContent .dotPattern ul li span {
        position: relative;
        top: 15px;
        left: 5px;
        line-height: 1.2;
        font-size: 12px; }
      #subPageContent .dotPattern ul li:nth-child(2) i {
        background-position: 0 -297px; }
      #subPageContent .dotPattern ul li:nth-child(2) span {
        top: 10px; }
      #subPageContent .dotPattern ul li:nth-child(3) i {
        background-position: 0 -376px; }
      #subPageContent .dotPattern ul li:nth-child(3) span {
        top: 16px; }
      #subPageContent .dotPattern ul li:nth-child(4) i {
        background-position: 0 -337px; }
      #subPageContent .dotPattern ul li:nth-child(5) i {
        background-position: 0 -262px; }
      #subPageContent .dotPattern ul li:nth-child(5) span {
        top: 10px; }
      #subPageContent .dotPattern ul li:nth-child(6) i {
        background-position: 0 -53px; }
      #subPageContent .dotPattern ul li:nth-child(6) span {
        top: 0px; }
      #subPageContent .dotPattern ul li:nth-child(7) i {
        background-position: 0 -174px; }
      #subPageContent .dotPattern ul li:nth-child(7) span {
        top: 0px; }
      #subPageContent .dotPattern ul li:nth-child(8) i {
        background-position: 0 -220px; }
      #subPageContent .dotPattern ul li:nth-child(8) span {
        top: 0px; }
      #subPageContent .dotPattern ul li:nth-child(9) i {
        background-position: 0 -126px; }
      #subPageContent .dotPattern ul li:nth-child(9) span {
        top: 10px; }
      #subPageContent .dotPattern ul li:nth-child(10) i {
        background-position: 0 -92px; }
      #subPageContent .dotPattern ul li:nth-child(10) span {
        top: 10px; }
    #subPageContent .dotPattern .wrap {
      width: 100%;
      float: left;
      background: 000;
      border: 1px solid #fff;
      background: rgba(235, 235, 235, 0.8);
      margin-top: 10px;
      padding: 18px 10px; }
  #subPageContent .details {
    width: 100%;
    height: auto;
    float: left; }
    #subPageContent .details .firstRow div {
      min-height: 313px; }
    #subPageContent .details div {
      float: left;
      width: 100%; }
      #subPageContent .details div div {
        float: left; }
        #subPageContent .details div div ul {
          width: 95% !important;
          padding-top: 20px;
          padding-left: 40px; }
          #subPageContent .details div div ul li {
            width: 100% !important;
            float: left;
            list-style: none;
            min-height: 1px;
            border: none !important;
            margin-bottom: 6px;
            font-size: 14px;
            font-weight: 300; }
            #subPageContent .details div div ul li:before {
              content: "";
              display: inline-block;
              background: url(../img/tic.png) no-repeat;
              background-position: 0 0;
              width: 10px;
              height: 9px;
              margin-right: 5px;
              clear: both; }
      #subPageContent .details div .boxSmaller {
        width: 100%;
        max-width: 330px; }
      #subPageContent .details div .boxBigger {
        width: 100%;
        max-width: 472px; }
      #subPageContent .details div .border-start {
        border-left: 8px solid #232323;
        border-top: 8px solid #232323; }
      #subPageContent .details div .border-end {
        border-right: 8px solid #232323;
        border-top: 8px solid #232323; }
      #subPageContent .details div .border-center {
        border-bottom: 8px solid #232323; }
      #subPageContent .details div .middleBox {
        min-height: 228px; }
      #subPageContent .details div .lastBox {
        height: 228px;
        overflow: hidden; }

/* 

AUGILA SUBPAGE

*/
.augila .staticCover {
  background: url(../img/assets/augila_cover.png) no-repeat;
  background-position: center top; }
  .augila .staticCover .breadcrumbs ul li a {
    color: #fff; }
    .augila .staticCover .breadcrumbs ul li a:hover {
      color: #e1a829; }
  .augila .staticCover .breadcrumbs ul li span {
    color: #e1a829; }
  .augila .staticCover .staticCoverWrapper .desc {
    border-bottom: 1px solid #e1a829; }
    .augila .staticCover .staticCoverWrapper .desc .title h1 {
      color: #e1a829; }
    .augila .staticCover .staticCoverWrapper .desc p {
      color: #232323; }
.augila #subPageContent {
  background: url(../img/assets/augila_bg.png) no-repeat;
  background-position: center top; }
  .augila #subPageContent h4 {
    border-right: 1px solid #e1a829; }
  .augila #subPageContent .dotPattern ul li i {
    background: url(../img/icons.png) no-repeat;
    background-position: 0 0; }
  .augila #subPageContent .dotPattern ul li:nth-child(2) i {
    background-position: 0 -297px; }
  .augila #subPageContent .dotPattern ul li:nth-child(2) span {
    top: 10px; }
  .augila #subPageContent .dotPattern ul li:nth-child(3) i {
    background-position: 0 -376px; }
  .augila #subPageContent .dotPattern ul li:nth-child(3) span {
    top: 16px; }
  .augila #subPageContent .dotPattern ul li:nth-child(4) i {
    background-position: 0 -337px; }
  .augila #subPageContent .dotPattern ul li:nth-child(5) i {
    background-position: 0 -262px; }
  .augila #subPageContent .dotPattern ul li:nth-child(5) span {
    top: 10px; }
  .augila #subPageContent .dotPattern ul li:nth-child(6) i {
    background-position: 0 -53px; }
  .augila #subPageContent .dotPattern ul li:nth-child(6) span {
    top: 0px; }
  .augila #subPageContent .dotPattern ul li:nth-child(7) i {
    background-position: 0 -174px; }
  .augila #subPageContent .dotPattern ul li:nth-child(7) span {
    top: 0px; }
  .augila #subPageContent .dotPattern ul li:nth-child(8) i {
    background-position: 0 -220px; }
  .augila #subPageContent .dotPattern ul li:nth-child(8) span {
    top: 0px; }
  .augila #subPageContent .dotPattern ul li:nth-child(9) i {
    background-position: 0 -126px; }
  .augila #subPageContent .dotPattern ul li:nth-child(9) span {
    top: 10px; }
  .augila #subPageContent .dotPattern ul li:nth-child(10) i {
    background-position: 0 -92px; }
  .augila #subPageContent .dotPattern ul li:nth-child(10) span {
    top: 10px; }

/* 

GEMINI SUBPAGE

*/
.gemini .navbar .nav li a:hover {
  color: #7a88cb; }
.gemini .navbar .nav .current {
  background: #7a88cb; }
.gemini .navbar .lang li a:hover {
  color: #7a88cb; }
.gemini .navbar .lang li:first-child:after {
  background: #7a88cb; }
.gemini .navbar .fa-search:hover {
  color: #7a88cb; }
.gemini .staticCover {
  background: url(../img/assets/gemini_cover.png) no-repeat;
  background-position: center top; }
  .gemini .staticCover .breadcrumbs ul li a {
    color: #fff; }
    .gemini .staticCover .breadcrumbs ul li a:hover {
      color: #7a88cb; }
  .gemini .staticCover .breadcrumbs ul li span {
    color: #7a88cb; }
  .gemini .staticCover .staticCoverWrapper .desc {
    border-bottom: 1px solid #7a88cb; }
    .gemini .staticCover .staticCoverWrapper .desc .title h1 {
      color: #7a88cb;
      line-height: auto; }
    .gemini .staticCover .staticCoverWrapper .desc p {
      color: #232323; }
.gemini #subPageContent {
  background: url(../img/assets/gemini_bg.png) no-repeat;
  background-position: center top; }
  .gemini #subPageContent h4 {
    border-right: 1px solid #7a88cb; }
  .gemini #subPageContent .dotPattern ul li i {
    background: url(../img/icons.png) no-repeat;
    background-position: -76px 0; }
  .gemini #subPageContent .dotPattern ul li:nth-child(2) i {
    background-position: -76px -297px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(2) span {
    top: 10px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(3) i {
    background-position: -76px -376px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(3) span {
    top: 16px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(4) i {
    background-position: -76px -337px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(5) i {
    background-position: -76px -262px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(5) span {
    top: 10px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(6) i {
    background-position: -76px -53px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(6) span {
    top: 0px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(7) i {
    background-position: -76px -174px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(7) span {
    top: 0px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(8) i {
    background-position: -76px -220px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(8) span {
    top: 0px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(9) i {
    background-position: -76px -126px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(9) span {
    top: 10px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(10) i {
    background-position: -76px -92px; }
  .gemini #subPageContent .dotPattern ul li:nth-child(10) span {
    top: 10px; }
  .gemini #subPageContent .details div div ul li:before {
    background-position: -10px 0px; }
.gemini footer .bottomNav {
  border-left-color: #7a88cb; }
  .gemini footer .bottomNav li a:hover {
    color: #7a88cb; }

/* 

ZENIUS SUBPAGE

*/
.zenius .navbar .nav li a:hover {
  color: #db4229; }
.zenius .navbar .nav .current {
  background: #db4229; }
.zenius .navbar .lang li a:hover {
  color: #db4229; }
.zenius .navbar .lang li:first-child:after {
  background: #db4229; }
.zenius .navbar .fa-search:hover {
  color: #db4229; }
.zenius .staticCover {
  background: url(../img/assets/zenius_cover.png) no-repeat;
  background-position: center top; }
  .zenius .staticCover .breadcrumbs ul li a {
    color: #fff; }
    .zenius .staticCover .breadcrumbs ul li a:hover {
      color: #db4229; }
  .zenius .staticCover .breadcrumbs ul li span {
    color: #db4229; }
  .zenius .staticCover .staticCoverWrapper img {
    float: right; }
  .zenius .staticCover .staticCoverWrapper .desc {
    border-bottom: 1px solid #db4229; }
    .zenius .staticCover .staticCoverWrapper .desc .title h1 {
      color: #db4229;
      line-height: auto; }
    .zenius .staticCover .staticCoverWrapper .desc p {
      color: #232323; }
.zenius #subPageContent {
  background: url(../img/assets/zenius_bg.png) no-repeat;
  background-position: center top; }
  .zenius #subPageContent h4 {
    border-right: 1px solid #db4229; }
  .zenius #subPageContent .dotPattern ul li i {
    background: url(../img/icons.png) no-repeat;
    background-position: -146px 0; }
  .zenius #subPageContent .dotPattern ul li:nth-child(2) i {
    background-position: -146px -297px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(2) span {
    top: 10px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(3) i {
    background-position: -146px -376px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(3) span {
    top: 16px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(4) i {
    background-position: -146px -337px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(5) i {
    background-position: -146px -262px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(5) span {
    top: 10px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(6) i {
    background-position: -146px -53px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(6) span {
    top: 0px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(7) i {
    background-position: -146px -174px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(7) span {
    top: 0px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(8) i {
    background-position: -146px -220px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(8) span {
    top: 0px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(9) i {
    background-position: -146px -126px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(9) span {
    top: 10px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(10) i {
    background-position: -146px -92px; }
  .zenius #subPageContent .dotPattern ul li:nth-child(10) span {
    top: 10px; }
  .zenius #subPageContent .details div div ul li:before {
    background-position: -20px 0px; }
.zenius footer .bottomNav {
  border-left-color: #db4229; }
  .zenius footer .bottomNav li a:hover {
    color: #db4229; }

/* 

SYSTEM TOWER SUBPAGE

*/
.systemTower .navbar .nav li a:hover {
  color: #809f5c; }
.systemTower .navbar .nav .current {
  background: #809f5c; }
.systemTower .navbar .lang li a:hover {
  color: #809f5c; }
.systemTower .navbar .lang li:first-child:after {
  background: #809f5c; }
.systemTower .navbar .fa-search:hover {
  color: #809f5c; }
.systemTower .staticCover {
  background: url(../img/assets/systemtower_cover.png) no-repeat;
  background-position: center top; }
  .systemTower .staticCover .breadcrumbs ul li a {
    color: #fff; }
    .systemTower .staticCover .breadcrumbs ul li a:hover {
      color: #809f5c; }
  .systemTower .staticCover .breadcrumbs ul li span {
    color: #809f5c; }
  .systemTower .staticCover .staticCoverWrapper {
    padding-top: 25px;
    padding-bottom: 50px; }
    .systemTower .staticCover .staticCoverWrapper .desc {
      position: relative;
      padding-top: 130px;
      padding-bottom: 10px; }
      .systemTower .staticCover .staticCoverWrapper .desc .title h1 {
        color: #809f5c;
        line-height: auto; }
      .systemTower .staticCover .staticCoverWrapper .desc p {
        color: #232323; }
    .systemTower .staticCover .staticCoverWrapper .longDesc {
      position: relative;
      width: 100%;
      float: left; }
      .systemTower .staticCover .staticCoverWrapper .longDesc p {
        color: #232323;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 10px; }
      .systemTower .staticCover .staticCoverWrapper .longDesc .green {
        color: #809f5c; }
      .systemTower .staticCover .staticCoverWrapper .longDesc ul li {
        list-style: none;
        font-weight: 300;
        font-size: 14px; }
        .systemTower .staticCover .staticCoverWrapper .longDesc ul li:before {
          content: "";
          margin-right: 6px;
          display: inline-block;
          width: 10px;
          height: 9px;
          background: url(../img/tic.png) no-repeat;
          background-position: -30px 0px; }
.systemTower #subPageContent h4 {
  border-right: 1px solid #809f5c; }
.systemTower #subPageContent .dotPattern ul li i {
  background: url(../img/icons.png) no-repeat;
  background-position: -146px 0; }
.systemTower #subPageContent .dotPattern ul li:nth-child(2) i {
  background-position: -146px -297px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(2) span {
  top: 10px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(3) i {
  background-position: -146px -376px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(3) span {
  top: 16px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(4) i {
  background-position: -146px -337px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(5) i {
  background-position: -146px -262px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(5) span {
  top: 10px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(6) i {
  background-position: -146px -53px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(6) span {
  top: 0px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(7) i {
  background-position: -146px -174px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(7) span {
  top: 0px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(8) i {
  background-position: -146px -220px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(8) span {
  top: 0px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(9) i {
  background-position: -146px -126px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(9) span {
  top: 10px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(10) i {
  background-position: -146px -92px; }
.systemTower #subPageContent .dotPattern ul li:nth-child(10) span {
  top: 10px; }
.systemTower #subPageContent .details div div ul li:before {
  background-position: -30px 0px; }
.systemTower footer .bottomNav {
  border-left-color: #809f5c; }
  .systemTower footer .bottomNav li a:hover {
    color: #809f5c; }

.categoryEkspress {
  background: url(../img/assets/ekspresy_bg.png) no-repeat;
  background-position: right top !important; }
  .categoryEkspress .staticCover {
    background: url(../img/assets/category_ekspresy_cover.png) no-repeat;
    background-position: center top;
    min-height: 416px; }
    .categoryEkspress .staticCover h1 {
      color: #fff;
      font-weight: 300;
      line-height: 1.3;
      margin-top: 50px; }
  .categoryEkspress #subPageContent h4 {
    border-right: 1px solid #e1a829;
    margin: 30px 0; }
  .categoryEkspress #subPageContent .itemBox {
    margin-bottom: 45px;
    min-height: 283px; }
    .categoryEkspress #subPageContent .itemBox .headline {
      display: table;
      min-height: 283px; }
      .categoryEkspress #subPageContent .itemBox .headline h2 {
        font-size: 64px;
        font-family: 'Tinos', serif;
        font-weight: bold;
        text-align: right;
        vertical-align: middle;
        display: table-cell; }
    .categoryEkspress #subPageContent .itemBox .details {
      padding: 60px 0 0 25px; }
      .categoryEkspress #subPageContent .itemBox .details .btn i {
        position: relative;
        display: inline-block;
        top: 2px;
        left: 5px;
        width: 40px;
        height: 15px;
        background: url(../img/btn_arrow_right.png) no-repeat; }
      .categoryEkspress #subPageContent .itemBox .details .btn:hover {
        background: transparent;
        border: 1px solid #232323;
        color: #232323; }
        .categoryEkspress #subPageContent .itemBox .details .btn:hover i {
          left: 7px; }
      .categoryEkspress #subPageContent .itemBox .details p {
        color: #232323;
        font-size: 14px; }
    .categoryEkspress #subPageContent .itemBox .label {
      min-height: 283px; }
      .categoryEkspress #subPageContent .itemBox .label img {
        max-width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        right: 30px; }
      .categoryEkspress #subPageContent .itemBox .label .labelTriangle {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        line-height: 0;
        border: 115px solid transparent;
        right: 0px;
        bottom: 10px; }
        .categoryEkspress #subPageContent .itemBox .label .labelTriangle div {
          position: relative;
          top: -30px;
          left: 100px;
          width: 120px;
          height: auto;
          float: right; }
        .categoryEkspress #subPageContent .itemBox .label .labelTriangle i {
          width: 57px;
          height: 62px;
          display: inline-block;
          background: url(../img/user_ico.png) no-repeat;
          border-bottom: 2px solid #292823;
          float: right;
          margin-left: 10px; }
        .categoryEkspress #subPageContent .itemBox .label .labelTriangle p {
          font-size: 32px;
          color: #292823;
          display: block;
          width: 100%;
          float: left;
          font-weight: bold;
          text-align: right; }
          .categoryEkspress #subPageContent .itemBox .label .labelTriangle p small {
            font-weight: 300;
            font-size: 18px;
            text-transform: uppercase; }
        .categoryEkspress #subPageContent .itemBox .label .labelTriangle span {
          display: block;
          font-size: 18px;
          font-weight: 300;
          color: #292823;
          float: right;
          text-transform: uppercase; }
      .categoryEkspress #subPageContent .itemBox .label .LabelLine {
        position: absolute;
        display: inline-block;
        width: 130%;
        height: 0;
        line-height: 0;
        border: 10px solid transparent;
        right: 0px;
        bottom: 0px; }
  .categoryEkspress #subPageContent .itemAugila {
    border: 1px solid #e1a829; }
    .categoryEkspress #subPageContent .itemAugila h2 {
      color: #e1a829; }
    .categoryEkspress #subPageContent .itemAugila .label .labelTriangle {
      border-right: 115px solid #e1a829;
      border-bottom: 115px solid #e1a829; }
    .categoryEkspress #subPageContent .itemAugila .label .LabelLine {
      border-right: 10px solid #e1a829;
      border-bottom: 10px solid #e1a829; }
  .categoryEkspress #subPageContent .itemGemini {
    border: 1px solid #7a88cb; }
    .categoryEkspress #subPageContent .itemGemini h2 {
      color: #7a88cb; }
    .categoryEkspress #subPageContent .itemGemini .label .labelTriangle {
      border-right: 115px solid #7a88cb;
      border-bottom: 115px solid #7a88cb; }
    .categoryEkspress #subPageContent .itemGemini .label .LabelLine {
      border-right: 10px solid #7a88cb;
      border-bottom: 10px solid #7a88cb; }
  .categoryEkspress #subPageContent .itemSystemTower {
    border: 1px solid #809f5c; }
    .categoryEkspress #subPageContent .itemSystemTower h2 {
      color: #809f5c; }
    .categoryEkspress #subPageContent .itemSystemTower .label .labelTriangle {
      border-right: 115px solid #809f5c;
      border-bottom: 115px solid #809f5c; }
    .categoryEkspress #subPageContent .itemSystemTower .label .LabelLine {
      border-right: 10px solid #809f5c;
      border-bottom: 10px solid #809f5c; }
  .categoryEkspress #subPageContent .itemsZenius {
    border: 1px solid #db4229; }
    .categoryEkspress #subPageContent .itemsZenius h2 {
      color: #db4229; }
    .categoryEkspress #subPageContent .itemsZenius .label .labelTriangle {
      border-right: 115px solid #db4229;
      border-bottom: 115px solid #db4229; }
    .categoryEkspress #subPageContent .itemsZenius .label .LabelLine {
      border-right: 10px solid #db4229;
      border-bottom: 10px solid #db4229; }

.nav-box-row {
  text-align: center; }
  .nav-box-row .box-nav {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    min-width: 1px;
    margin: 45px auto; }
    .nav-box-row .box-nav li {
      width: auto;
      list-style: none;
      display: inline-block;
      padding: 10px 10px;
      border: 1px solid #6a5e59;
      margin: 0 5px; }
      .nav-box-row .box-nav li a {
        color: #6a5e59;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400; }
      .nav-box-row .box-nav li:hover {
        background: #6a5e59; }
        .nav-box-row .box-nav li:hover a {
          color: #fff; }
    .nav-box-row .box-nav .active {
      background: #6a5e59; }
      .nav-box-row .box-nav .active a {
        color: #fff; }

.line:before {
  content: "";
  width: 1px;
  height: 100%;
  background: #e1a829;
  position: absolute;
  display: block;
  left: 0;
  top: 0px; }

.categoryKawa {
  background: #e2d8cf; }
  .categoryKawa .staticCover {
    background: url(../img/assets/cover_kawa.png) no-repeat;
    background-position: center top;
    min-height: 604px; }
    .categoryKawa .staticCover h1 {
      color: #fff;
      font-weight: 200;
      line-height: 1.3;
      margin-top: 50px;
      font-family: 'Tinos', serif;
      font-weight: 400; }
      .categoryKawa .staticCover h1 span {
        font-weight: 700; }
    .categoryKawa .staticCover p {
      line-height: 1.4; }
  .categoryKawa .coffe-items .item {
    opacity: 0.4;
    padding: 5px; }
    .categoryKawa .coffe-items .item .box {
      background: #fff;
      padding: 25px 20px 17px 20px;
      min-height: 290px; }
      .categoryKawa .coffe-items .item .box h3 {
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        color: #a07750;
        text-transform: uppercase; }
      .categoryKawa .coffe-items .item .box img {
        display: block;
        margin: 20px auto;
        max-width: 100%; }
      .categoryKawa .coffe-items .item .box div {
        display: block;
        border-top: 1px solid #d7cabf;
        padding: 15px 0 0 0; }
      .categoryKawa .coffe-items .item .box ul {
        display: inline-block;
        position: relative;
        top: 5px; }
        .categoryKawa .coffe-items .item .box ul li {
          list-style: none;
          width: 13px;
          height: 20px;
          display: inline-block;
          background: url(../img/grain_dark.png) no-repeat;
          background-position: -14px 0;
          margin-left: -2px; }
        .categoryKawa .coffe-items .item .box ul .active {
          background-position: 0 0; }
      .categoryKawa .coffe-items .item .box em {
        font-style: normal;
        color: #a07750;
        font-size: 18px;
        font-weight: bold;
        margin-left: 2px;
        margin-right: 5px;
        padding-right: 5px;
        border-right: 1px solid #d7cabf; }
      .categoryKawa .coffe-items .item .box i {
        width: 28px;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 3px;
        background-position: top right; }
      .categoryKawa .coffe-items .item .box .size-s {
        background: url(../img/cup_s.png) no-repeat; }
      .categoryKawa .coffe-items .item .box .size-m {
        background: url(../img/cup_m.png) no-repeat; }
      .categoryKawa .coffe-items .item .box .size-l {
        background: url(../img/cup_l.png) no-repeat; }
  .categoryKawa .coffe-items .selected-espresso {
    opacity: 1; }
  .categoryKawa .coffe-items .selected-ristretto {
    opacity: 1; }
  .categoryKawa .coffe-items .selected-lungo {
    opacity: 1; }
  .categoryKawa .coffe-items .selected-decaffeinato {
    opacity: 1; }
  .categoryKawa .box-more {
    margin-top: 5px;
    padding: 0 5px; }
    .categoryKawa .box-more .more-info {
      background: #785739 url(../img/assets/more-info-cofee-bg.png) no-repeat;
      background-position: top right;
      display: block;
      float: left;
      width: 100%;
      padding: 20px; }
      .categoryKawa .box-more .more-info img {
        max-width: 100%;
        margin: 0 auto;
        display: block; }
      .categoryKawa .box-more .more-info h2 {
        margin: 15px 0 0 0;
        padding: 0;
        color: #fff;
        font-family: 'Tinos', serif;
        font-size: 42px; }
      .categoryKawa .box-more .more-info p {
        margin-top: 10px;
        color: #d8bdb5;
        line-height: 1.4;
        font-size: 16px; }
      .categoryKawa .box-more .more-info ul {
        display: inline-block; }
        .categoryKawa .box-more .more-info ul li {
          list-style: none;
          display: inline-block;
          color: #e1a829; }
          .categoryKawa .box-more .more-info ul li:first-child {
            padding-right: 20px; }
    .categoryKawa .box-more .foot {
      display: block;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #a8917c; }
      .categoryKawa .box-more .foot ul {
        display: inline-block;
        position: relative;
        top: 5px; }
        .categoryKawa .box-more .foot ul li {
          list-style: none;
          width: 17px;
          height: 21px;
          display: inline-block;
          background: url(../img/grain-light.png) no-repeat;
          background-position: -15px 0;
          margin-left: -3px; }
        .categoryKawa .box-more .foot ul .active {
          background-position: 0 0; }
      .categoryKawa .box-more .foot em {
        font-style: normal;
        color: #e1a829;
        font-size: 20px;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 5px;
        float: right; }
  .categoryKawa .how-it-works {
    background: #fff; }
    .categoryKawa .how-it-works .box {
      display: block;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      padding: 60px 0; }
      .categoryKawa .how-it-works .box h3 {
        font-weight: bold;
        color: #785739;
        margin-bottom: 30px; }
      .categoryKawa .how-it-works .box p {
        line-height: 1.4;
        color: #000;
        font-size: 12px; }
  .categoryKawa .tab-slider {
    background: #fff;
    padding-top: 25px;
    border-top: 1px solid #d6d6d6;
    position: relative;
    top: -10px; }
    .categoryKawa .tab-slider #tabSlider .nav-box {
      text-align: center;
      border-bottom: 1px solid #c9c9c9; }
      .categoryKawa .tab-slider #tabSlider .nav-box .nav {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 0; }
        .categoryKawa .tab-slider #tabSlider .nav-box .nav li {
          position: relative;
          padding-bottom: 0; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav li i {
            display: block;
            margin: 0 auto;
            height: 50px;
            width: 100%;
            background-position: center;
            position: relative;
            top: 10px; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav li a {
            color: #000;
            font-size: 11px;
            position: relative;
            top: -10px; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav li:hover a {
            background: transparent; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav li:first-child i {
            background: url(../img/tab-nav-slide-1) no-repeat;
            background-position: center; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav li:nth-child(2) i {
            background: url(../img/tab-nav-slide-2) no-repeat;
            background-position: center; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav li:nth-child(3) i {
            background: url(../img/tab-nav-slide-3) no-repeat;
            background-position: center; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav li:nth-child(4) i {
            background: url(../img/tab-nav-slide-4) no-repeat;
            background-position: center; }
        .categoryKawa .tab-slider #tabSlider .nav-box .nav .active {
          background: transparent url(../img/nav-circle.gif) no-repeat;
          background-position: center; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav .active a {
            background: transparent; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav .active:after {
            content: "";
            width: 60%;
            display: block;
            height: 1px;
            position: absolute;
            bottom: -6px;
            background: #6d6d6c;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0; }
          .categoryKawa .tab-slider #tabSlider .nav-box .nav .active:before {
            content: "";
            width: 5px;
            display: block;
            height: 1px;
            position: absolute;
            bottom: -11px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            background: transparent;
            border: 0.25em solid transparent;
            border-top: 0.25em solid #6d6d6c; }
    .categoryKawa .tab-slider #tabSlider .carousel-wrap {
      background: #ededed;
      margin-top: 1px;
      padding: 20px 0; }
      .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .container {
        max-width: 845px; }
      .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item .icon {
        padding-top: 90px;
        text-align: center; }
      .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item h2 {
        margin: 35px 0 0 0;
        padding: 0;
        font-family: 'Tinos', serif;
        font-style: italic;
        padding-bottom: 20px;
        position: relative;
        color: #000; }
        .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item h2:after {
          content: "";
          width: 20px;
          display: block;
          height: 1px;
          position: absolute;
          bottom: 10px;
          background: #6d6d6c;
          left: 0; }
        .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item h2 span {
          font-family: 'Nothing You Could Do', cursive; }
      .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item p {
        font-size: 12px;
        color: #000;
        text-align: left;
        display: inline-block; }

.aktualnosci {
  background: url(../img/assets/aktualnosci_bg.png) no-repeat;
  background-color: cover;
  background-position: center top; }
  .aktualnosci .staticCover {
    min-height: 325px; }
    .aktualnosci .staticCover h1 {
      color: #fff;
      font-weight: 300;
      line-height: 1.3;
      padding-left: 20px;
      position: relative;
      top: 55px; }
  .aktualnosci .act-item {
    padding-left: 5px;
    padding-right: 5px; }
  .aktualnosci article {
    background: #fff;
    margin-top: 10px; }
    .aktualnosci article div {
      padding: 20px 30px; }
      .aktualnosci article div h3 {
        font-size: 14px;
        color: #202020;
        text-align: center;
        margin-top: 0;
        text-transform: uppercase;
        line-height: 1.4;
        padding-bottom: 20px;
        border-bottom: 1px solid #dadada; }
      .aktualnosci article div p {
        font-size: 14px;
        color: #838281;
        text-align: center; }

.about-lyreco .staticCover {
  background: url(../img/assets/about_cover.png) no-repeat;
  background-position: center top;
  min-height: 376px; }
  .about-lyreco .staticCover h1 {
    color: #fff;
    font-weight: 300;
    line-height: 1.3;
    padding-left: 20px;
    position: relative;
    top: 55px; }
.about-lyreco h2 {
  font-family: 'Tinos', serif;
  font-size: 48px;
  font-weight: normal; }
.about-lyreco p {
  font-size: 14px;
  color: #838281; }
.about-lyreco .item {
  padding-left: 5px;
  padding-right: 5px; }
  .about-lyreco .item .box {
    margin: 20px 0;
    min-height: 311px;
    padding: 25px 10px 25px 10px; }
    .about-lyreco .item .box h3 {
      font-size: 14px;
      color: #202020;
      text-align: center;
      margin-top: 0;
      text-transform: uppercase;
      line-height: 1.4;
      padding-bottom: 20px;
      border-bottom: 1px solid #dadada;
      min-height: 80px;
      width: 100%;
      display: table; }
      .about-lyreco .item .box h3 span {
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
    .about-lyreco .item .box p {
      font-size: 14px;
      color: #838281;
      text-align: center;
      padding-bottom: 0; }
    .about-lyreco .item .box:hover {
      background: #e1a829; }
      .about-lyreco .item .box:hover h3 {
        color: #fff;
        border-color: #fff; }
      .about-lyreco .item .box:hover p {
        color: #fff; }
  .about-lyreco .item .active {
    background: #e1a829; }
    .about-lyreco .item .active h3 {
      color: #fff;
      border-color: #fff; }
    .about-lyreco .item .active p {
      color: #fff; }

.akcesories {
  background: #dfd6cc; }
  .akcesories .staticCover {
    background: url(../img/assets/akcesories_cover.png) no-repeat;
    background-position: center top;
    min-height: 471px; }
    .akcesories .staticCover h1 {
      color: #fff;
      font-weight: 200;
      line-height: 1.3;
      padding-left: 20px;
      position: relative;
      top: 55px; }
  .akcesories .item-akcesories {
    padding-left: 5px;
    padding-right: 5px; }
    .akcesories .item-akcesories .box {
      margin: 5px 0;
      min-height: 311px;
      padding: 25px 10px 25px 10px;
      background: #fff;
      position: relative; }
      .akcesories .item-akcesories .box h3 {
        font-size: 14px;
        color: #202020;
        text-align: center;
        margin-top: 0;
        text-transform: uppercase;
        line-height: 1.4;
        padding-bottom: 20px;
        border-bottom: 1px solid #dadada;
        min-height: 80px;
        width: 100%;
        display: table; }
        .akcesories .item-akcesories .box h3 span {
          display: table-cell;
          vertical-align: middle;
          width: 100%; }
      .akcesories .item-akcesories .box .apla {
        display: none; }
        .akcesories .item-akcesories .box .apla div {
          margin: 10px;
          border: 1px solid #fff;
          padding: 10px;
          height: 88%; }
          .akcesories .item-akcesories .box .apla div i {
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 50%;
            background: #e1a829;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            bottom: 10px;
            left: 0;
            right: 0; }
            .akcesories .item-akcesories .box .apla div i span {
              width: 40px;
              height: 40px;
              position: relative;
              border: 1px solid #fff;
              border-radius: 100%;
              display: block;
              margin-left: -5px;
              color: #fff;
              text-align: center;
              line-height: auto;
              font-size: 30px; }
              .akcesories .item-akcesories .box .apla div i span:before {
                position: relative;
                top: 4px; }
        .akcesories .item-akcesories .box .apla h3 {
          font-size: 14px;
          color: #fff;
          text-align: center;
          margin-top: 0;
          text-transform: uppercase;
          line-height: 1.4;
          padding-bottom: 20px;
          border-bottom: 1px solid #fff;
          min-height: 80px;
          width: 100%;
          display: table; }
          .akcesories .item-akcesories .box .apla h3 span {
            display: table-cell;
            vertical-align: middle;
            width: 100%; }
        .akcesories .item-akcesories .box .apla p {
          color: #fff;
          text-align: center;
          font-size: 14px; }
    .akcesories .item-akcesories:hover .box .apla {
      width: 100%;
      height: 100%;
      background: #e1a829;
      position: absolute;
      top: 0;
      left: 0;
      display: block; }

.single-akcesories {
  background: #785739 url(../img/assets/top_single_accesories.png) no-repeat center top; }
  .single-akcesories .single-box {
    padding-top: 50px; }
    .single-akcesories .single-box .product_img {
      display: table;
      width: 100%;
      height: 750px; }
      .single-akcesories .single-box .product_img div {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center; }
        .single-akcesories .single-box .product_img div img {
          max-width: 100%; }
    .single-akcesories .single-box .description {
      display: table;
      width: 100%;
      height: 750px; }
      .single-akcesories .single-box .description > div {
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
        .single-akcesories .single-box .description > div h1 {
          color: #fff;
          font-family: 'Tinos', serif;
          font-size: 48px;
          padding-bottom: 10px;
          border-bottom: 1px solid #e1a829; }
        .single-akcesories .single-box .description > div p {
          color: #fff;
          font-size: 17px;
          padding: 22px 0;
          font-weight: 200; }
        .single-akcesories .single-box .description > div .small-product-box {
          margin: 50px 0 0 0;
          border: 1px solid #573d26;
          padding-bottom: 10px; }
          .single-akcesories .single-box .description > div .small-product-box h3 {
            font-size: 13px;
            color: #fff;
            text-align: center;
            background: #573d26;
            margin: 0;
            padding: 20px 30px 40px 30px; }
          .single-akcesories .single-box .description > div .small-product-box img {
            display: block;
            margin: 0 auto;
            margin-top: -40px; }

.single-kawa {
  background: #355572 url(../img/assets/bg-repeat-single-kawa.png) repeat-x; }
  .single-kawa .single-box {
    padding-top: 50px; }
    .single-kawa .single-box .product_img {
      display: table;
      width: 100%;
      height: 750px;
      background: url(../img/assets/caps_bg.png) no-repeat;
      background-position: center center; }
      .single-kawa .single-box .product_img div {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center; }
        .single-kawa .single-box .product_img div img {
          max-width: 100%; }
    .single-kawa .single-box .description {
      display: table;
      width: 100%;
      height: 750px; }
      .single-kawa .single-box .description > div {
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
        .single-kawa .single-box .description > div h1 {
          color: #fff;
          font-family: 'Tinos', serif;
          font-size: 48px;
          padding-bottom: 10px;
          position: relative;
          display: inline-block; }
          .single-kawa .single-box .description > div h1:after {
            content: "";
            width: 50%;
            height: 1px;
            background: #e1a829;
            position: absolute;
            bottom: 0px;
            right: 0; }
        .single-kawa .single-box .description > div p {
          color: #fff;
          font-size: 17px;
          padding: 22px 0;
          font-weight: 200; }
        .single-kawa .single-box .description > div .small-product-box {
          margin: 50px 0 0 0;
          border: 1px solid #573d26;
          padding-bottom: 10px; }
          .single-kawa .single-box .description > div .small-product-box h3 {
            font-size: 13px;
            color: #fff;
            text-align: center;
            background: #573d26;
            margin: 0;
            padding: 20px 30px 40px 30px; }
          .single-kawa .single-box .description > div .small-product-box img {
            display: block;
            margin: 0 auto;
            margin-top: -40px; }
      .single-kawa .single-box .description .tabs > span {
        color: #e1a829;
        position: relative;
        top: -20px;
        letter-spacing: 1px;
        font-size: 11px;
        margin-bottom: 50px;
        display: block; }
      .single-kawa .single-box .description .tabs .nav-tabs {
        margin-top: 25px; }
        .single-kawa .single-box .description .tabs .nav-tabs li {
          position: relative;
          border-top: 1px solid #708191;
          border-radius: 6px; }
          .single-kawa .single-box .description .tabs .nav-tabs li:first-child {
            margin-left: 20px; }
            .single-kawa .single-box .description .tabs .nav-tabs li:first-child:before {
              content: "";
              width: 1px;
              height: 30px;
              background: #708191;
              position: absolute;
              left: -3px;
              top: 2px;
              -ms-transform: rotate(13deg);
              /* IE 9 */
              -webkit-transform: rotate(13deg);
              /* Chrome, Safari, Opera */
              transform: rotate(13deg); }
          .single-kawa .single-box .description .tabs .nav-tabs li:nth-child(2) {
            left: -2px; }
            .single-kawa .single-box .description .tabs .nav-tabs li:nth-child(2):after {
              content: "";
              width: 1px;
              height: 30px;
              background: #708191;
              position: absolute;
              right: -3px;
              top: 2px;
              -ms-transform: rotate(-13deg);
              /* IE 9 */
              -webkit-transform: rotate(-13deg);
              /* Chrome, Safari, Opera */
              transform: rotate(-13deg); }
          .single-kawa .single-box .description .tabs .nav-tabs li:nth-child(3) {
            left: -4px; }
            .single-kawa .single-box .description .tabs .nav-tabs li:nth-child(3):after {
              content: "";
              width: 1px;
              height: 30px;
              background: #708191;
              position: absolute;
              right: -3px;
              top: 2px;
              -ms-transform: rotate(-13deg);
              /* IE 9 */
              -webkit-transform: rotate(-13deg);
              /* Chrome, Safari, Opera */
              transform: rotate(-13deg); }
          .single-kawa .single-box .description .tabs .nav-tabs li a {
            font-size: 10px;
            color: #708191;
            background: transparent;
            text-transform: uppercase;
            border: none;
            letter-spacing: 1px; }
        .single-kawa .single-box .description .tabs .nav-tabs .active {
          border-top-color: #fff; }
          .single-kawa .single-box .description .tabs .nav-tabs .active:first-child:before {
            background: #fff; }
          .single-kawa .single-box .description .tabs .nav-tabs .active:first-child:after {
            content: "";
            width: 1px;
            height: 30px;
            background: #fff;
            position: absolute;
            right: -3px;
            top: 2px;
            -ms-transform: rotate(-13deg);
            /* IE 9 */
            -webkit-transform: rotate(-13deg);
            /* Chrome, Safari, Opera */
            transform: rotate(-13deg); }
          .single-kawa .single-box .description .tabs .nav-tabs .active:nth-child(2):after {
            background: #fff; }
          .single-kawa .single-box .description .tabs .nav-tabs .active:nth-child(2):before {
            content: "";
            width: 1px;
            height: 30px;
            background: #fff;
            position: absolute;
            left: -3px;
            top: 2px;
            -ms-transform: rotate(13deg);
            /* IE 9 */
            -webkit-transform: rotate(13deg);
            /* Chrome, Safari, Opera */
            transform: rotate(13deg); }
          .single-kawa .single-box .description .tabs .nav-tabs .active:nth-child(3):after {
            background: #fff; }
          .single-kawa .single-box .description .tabs .nav-tabs .active:nth-child(3):before {
            content: "";
            width: 1px;
            height: 30px;
            background: #fff;
            position: absolute;
            left: -3px;
            top: 2px;
            -ms-transform: rotate(13deg);
            /* IE 9 */
            -webkit-transform: rotate(13deg);
            /* Chrome, Safari, Opera */
            transform: rotate(13deg); }
          .single-kawa .single-box .description .tabs .nav-tabs .active a {
            color: #fff; }
      .single-kawa .single-box .description .tab-content {
        min-height: 400px;
        position: relative; }
        .single-kawa .single-box .description .tab-content p {
          line-height: 1.5;
          font-weight: 300; }
        .single-kawa .single-box .description .tab-content ul li {
          list-style: none;
          margin: 10px 0; }
          .single-kawa .single-box .description .tab-content ul li span {
            color: #fff;
            padding-right: 10px;
            border-right: 1px solid #9da9b3;
            margin-right: 10px; }
          .single-kawa .single-box .description .tab-content ul li em {
            color: #fdc038;
            font-style: normal; }
          .single-kawa .single-box .description .tab-content ul li ol {
            display: inline-block;
            padding: 0;
            margin: 0;
            position: relative;
            top: 15px;
            left: 10px; }
            .single-kawa .single-box .description .tab-content ul li ol li {
              width: 13px;
              height: 20px;
              background: url(../img/grain.png) no-repeat;
              background-position: -14px 0;
              display: inline-block;
              margin-left: -2px; }
            .single-kawa .single-box .description .tab-content ul li ol .active {
              background-position: 0 0; }
          .single-kawa .single-box .description .tab-content ul li p {
            color: #fdc038;
            display: inline-block;
            margin: 0;
            padding: 0; }
          .single-kawa .single-box .description .tab-content ul li i {
            display: inline-block;
            width: 27px;
            height: 21px;
            background: url(../img/ico_cup_size.png) no-repeat;
            position: relative;
            top: 4px; }
        .single-kawa .single-box .description .tab-content button {
          position: absolute;
          right: 0;
          bottom: 0; }

.kontakt .navbar {
  height: 64px;
  background: rgba(35, 35, 35, 0.7); }
  .kontakt .navbar .navbar-brand {
    margin-top: -10px; }
  .kontakt .navbar .brand-nespresso {
    margin-top: 0 !important;
    padding-top: 0; }
    .kontakt .navbar .brand-nespresso:after {
      height: 64px; }
  .kontakt .navbar .nav li a {
    line-height: 64px; }
  .kontakt .navbar .nav li:after {
    top: 26.5px; }
  .kontakt .navbar .lang li a {
    line-height: 64px; }
  .kontakt .navbar .fa-search {
    margin-top: 24px; }
.kontakt #map {
  width: 100%;
  height: 500px;
  display: block; }
.kontakt p {
  color: #232323; }
.kontakt #subPageContent {
  padding: 50px 0; }
.kontakt #contact-form .wpcf7-form-control-wrap input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #232323; }
  .kontakt #contact-form .wpcf7-form-control-wrap input:focus {
    box-shadow: none;
    outline: none; }
.kontakt #contact-form .wpcf7-form-control-wrap textarea {
  width: 100%;
  padding: 10px;
  height: 250px;
  border: 1px solid #232323; }
.kontakt #contact-form .wpcf7-submit {
  border: 1px solid #232323;
  color: #232323;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 30px;
  background: transparent;
  font-weight: 400; }
  .kontakt #contact-form .wpcf7-submit:hover {
    background: #232323;
    border-color: transparent;
    color: #fff; }

@media (max-width: 767px) {
  .breadcrumbs {
    display: none; }

  .staticCover .staticCoverWrapper .desc {
    position: relative;
    width: 100%;
    right: 0;
    padding-bottom: 40px;
    max-width: 100%; }
    .staticCover .staticCoverWrapper .desc p {
      padding-top: 20px; }
    .staticCover .staticCoverWrapper .desc .title {
      margin-top: 20px; }
      .staticCover .staticCoverWrapper .desc .title h1 {
        text-align: center;
        font-size: 45px; }

  #contactLine {
    padding-top: 40px;
    padding-bottom: 40px; }
    #contactLine .pull-right {
      float: none !important; }
    #contactLine .btn {
      margin: 10px auto; }
    #contactLine .phone {
      float: none !important;
      display: inline-block;
      width: 100%; }
      #contactLine .phone a {
        top: 5 !important;
        width: 100%;
        margin-left: 0 !important; }
      #contactLine .phone span {
        top: 8px !important;
        width: 100%; }
    #contactLine .mail {
      float: none !important;
      display: inline-block;
      width: 100%; }
      #contactLine .mail a {
        top: 5 !important;
        margin-left: 0 !important;
        width: 100%; }
      #contactLine .mail span {
        top: 8px !important;
        width: 100%; }

  #subPageContent .dotPattern {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 0; }
    #subPageContent .dotPattern .wrap ul li {
      width: 100%;
      margin: 0 0;
      min-height: 1px; }
  #subPageContent .details div {
    min-height: 1px !important; }
    #subPageContent .details div ul {
      padding-left: 20px !important;
      width: 100% !important;
      float: left; }
  #subPageContent .details .middleBox, #subPageContent .details .boxBigger, #subPageContent .details .boxSmaller {
    border: 8px solid #232323;
    min-height: 1px;
    height: auto !important;
    margin-bottom: 5px;
    max-width: 100% !important; }

  .augila .staticCover {
    background-position: center -50vh !important; }
  .augila #subPageContent {
    background-size: cover; }
  .augila .staticCoverWrapper img {
    margin-top: 15vh; }

  .gemini .staticCover {
    background-position: center -50vh !important; }
  .gemini #subPageContent {
    background-size: cover; }
  .gemini .staticCoverWrapper img {
    margin-top: 15vh; }

  .systemTower #subPageContent {
    background-size: cover; }
  .systemTower .staticCover {
    background-position: center -50vh !important; }
    .systemTower .staticCover .staticCoverWrapper img {
      margin-top: 100px; }
    .systemTower .staticCover .staticCoverWrapper .desc {
      padding-top: 0 !important; }
      .systemTower .staticCover .staticCoverWrapper .desc h1 {
        color: #809f5c !important;
        text-shadow: none !important; }

  .zenius .staticCover {
    background-position: center -50vh !important; }

  .carousel-caption {
    text-align: left;
    text-shadow: none;
    bottom: auto;
    top: 60px;
    left: 0;
    right: 0; }

  .sliderExert {
    text-align: center; }
    .sliderExert img {
      width: 100%;
      height: auto; }
    .sliderExert p {
      margin-top: 15px;
      font-size: 15px;
      line-height: 1.4; }
    .sliderExert h1 {
      font-weight: 300;
      color: #fff;
      font-size: 30px; }
    .sliderExert .clipped {
      font-size: 50px; }
    .sliderExert .clipped_in {
      background: url(../img/text_bg.png) 35% 54%;
      background-size: cover;
      color: #fff;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      /* overrides the white text color in webkit browsers */
      -webkit-background-clip: text; }
    .sliderExert .btn {
      margin-top: 15px; }

  #sliderNav {
    display: none; }

  #slide1 {
    min-height: 580px; }
    #slide1 .img-box {
      left: auto;
      right: auto;
      top: 25px; }

  #slide2 {
    min-height: 580px; }
    #slide2 h1 {
      padding-left: 0;
      border: none; }
    #slide2 .img-box {
      left: auto;
      right: auto;
      top: 25px;
      padding: 20px; }

  #slide3 {
    min-height: 580px; }
    #slide3 h1 {
      font-size: 26px; }
    #slide3 .img-box {
      position: relative;
      left: auto;
      right: auto;
      top: 25px;
      padding: 20px; }

  #about {
    overflow: hidden; }
    #about .box-xl {
      left: 0;
      right: 0;
      padding: 15px 15px;
      margin-bottom: 15px; }
      #about .box-xl .box-blContent h3 {
        font-size: 30px; }
    #about .box-l {
      margin-top: 15px; }
      #about .box-l span h3 {
        font-size: 16px;
        padding: 0px 30px;
        bottom: 15px; }
      #about .box-l button {
        display: none; }
    #about .box-s {
      margin-top: 15px; }

  #article {
    background-position: 49% bottom;
    min-height: 870px; }
    #article .articles {
      margin-top: 0; }
    #article .owl-carousel .owl-item {
      padding: 0 10px; }
      #article .owl-carousel .owl-item:nth-child(2n) {
        margin-top: 5px; }
    #article .owl-carousel img {
      display: block;
      width: 100%;
      -webkit-transform-style: preserve-3d; }

  footer .brand {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    border-bottom: 1px solid #454545; }
    footer .brand img {
      max-width: 60%; }
  footer .bottomNav {
    padding: 25px 0;
    text-align: center;
    border-bottom: 1px solid #454545;
    border-left: none; }
    footer .bottomNav li {
      border: 1px solid #fff;
      margin-bottom: 5px; }
      footer .bottomNav li:first-child {
        margin-left: 0; }
      footer .bottomNav li:after {
        display: none; }
  footer .creator {
    display: block;
    width: 130px;
    margin: 20px auto;
    float: none !important; }

  .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000; }

  #slidemenu {
    background: #000;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: 0px;
    margin: 0;
    padding-left: 0; }
    #slidemenu .slide-active {
      border: solid red !important; }

  .navbar .navbar-header .navbar-brand {
    max-width: 90px;
    padding-right: 0px !important;
    padding-left: 0 !important; }
    .navbar .navbar-header .navbar-brand img {
      margin-top: 25px; }
  .navbar .navbar-header .brand-nespresso {
    padding-top: 0;
    margin-left: 0; }
    .navbar .navbar-header .brand-nespresso:after {
      display: none; }
  .navbar .navbar-header button {
    border: none;
    padding: 25px 15px; }
  .navbar .nav {
    min-width: 0;
    width: 100%;
    margin: 0;
    padding-left: 0; }
    .navbar .nav li {
      display: block;
      border-bottom: 1px solid #454545; }
      .navbar .nav li a {
        line-height: 1;
        padding: 20px 0;
        padding-left: 20px;
        display: block;
        text-align: left !important; }
      .navbar .nav li:after {
        display: none !important; }
    .navbar .nav .dropdown-menu {
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in; }
      .navbar .nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal; }

  .nav-box-row .box-nav li {
    margin-top: 5px; }

  .aktualnosci {
    background-position: fixed;
    background-attachment: fixed; }
    .aktualnosci .staticCover {
      min-height: 200px; }
      .aktualnosci .staticCover .staticCoverWrapper {
        padding-top: 75px; }
    .aktualnosci .act-item {
      padding-left: 15px;
      padding-right: 15px; }
      .aktualnosci .act-item article a img {
        width: 100%;
        height: auto; }

  .about-lyreco h2 {
    font-size: 26px; }
  .about-lyreco .item {
    padding-left: 15px;
    padding-right: 15px; }
    .about-lyreco .item .box {
      margin: 0 0;
      min-height: 1px; }

  .categoryKawa .staticCover h1 {
    margin-top: 0; }
  .categoryKawa .staticCover p {
    font-size: 15px; }
  .categoryKawa .coffe-items .item {
    padding-left: 15px;
    padding-right: 15px; }
  .categoryKawa .box-more {
    padding-left: 15px;
    padding-right: 15px; }
    .categoryKawa .box-more .more-info {
      padding: 20px 10px;
      background-position: 150px 0px; }
      .categoryKawa .box-more .more-info h2 {
        margin-top: 50px; }
  .categoryKawa .how-it-works .box p {
    padding: 15px; }
  .categoryKawa .tab-slider {
    padding-top: 0;
    top: 0; }
    .categoryKawa .tab-slider #tabSlider .carousel-wrap {
      padding: 0 0; }
      .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item .icon {
        padding-top: 50px; }
      .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item h2 {
        text-align: center; }
        .categoryKawa .tab-slider #tabSlider .carousel-wrap .carousel-box .item h2:after {
          width: 100%; }
    .categoryKawa .tab-slider #tabSlider .nav-box .nav li a {
      padding: 10px 9px; }
    .categoryKawa .tab-slider #tabSlider .nav-box .nav .active {
      background-size: contain; }

  .categoryEkspress #subPageContent .itemBox {
    margin-bottom: 15px; }
    .categoryEkspress #subPageContent .itemBox .headline {
      display: block;
      min-height: 1px; }
      .categoryEkspress #subPageContent .itemBox .headline h2 {
        font-size: 46px;
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 25px 0; }
    .categoryEkspress #subPageContent .itemBox .details {
      padding: 0 10px; }
      .categoryEkspress #subPageContent .itemBox .details .btn-dark {
        margin-top: 25px;
        display: block; }
    .categoryEkspress #subPageContent .itemBox .label {
      min-height: 225px; }
      .categoryEkspress #subPageContent .itemBox .label img {
        right: 0; }
      .categoryEkspress #subPageContent .itemBox .label .LabelLine {
        display: none; }
      .categoryEkspress #subPageContent .itemBox .label .labelTriangle {
        bottom: -1px; } }
