<ul class="slider"> 
                <li class="selected">
                    <div class="slider-content">
                        <div class="cd-half-width cd-cont-width">
                            <div class="sliderExert">
                                <h1 class="clipped">Aguila</h1>
                                <p>Aguila, doskonałość na wielką skalę. Tradycja zawodowych baristów połączona z kunsztem technologicznym owocuje niezrównanymi doświadczeniami.</p>
                                <button class="btn btn-custom btn-white">POZNAJ OFERTĘ</button>
                            </div>
                        </div> <!-- .cd-half-width -->

                        <div class="cd-half-width cd-img-width cd-img-container">
                            <img src="img/assets/augila.png" alt="tech 1">
                        </div> <!-- .cd-half-width.cd-img-container -->
                    </div>
                </li>

                <li>
                    <div class="slider-content">
                        <div class="cd-half-width cd-cont-width ">
                            <div class="sliderExert">
                                <h1>Tyle wspaniałych pomysłów zrodziło się przy filiżance dobrego espresso</h1> 
                                <button class="btn btn-custom btn-white">POZNAJ NASZE KAWY</button>
                            </div>
                        </div> <!-- .cd-half-width -->

                        <div class="cd-half-width cd-img-width cd-img-container">
                            <img src="img/assets/coffee_cup.png" alt="tech 1">
                        </div> <!-- .cd-half-width.cd-img-container -->
                    </div>
                </li>

                <li>
                <div class="slider-content">
                    <div class="cd-half-width cd-cont-width ">
                            <div class="sliderExert">
                                <h1>W jaki sposób <span class="clipped_in">Nespresso</span> może pomóc przekazać wartości Twojej firmy?</h1>
                                <button class="btn btn-custom btn-white">SPOTKAJMY SIĘ PRZY KAWIE</button>
                            </div>
                        </div> <!-- .cd-half-width -->

                        <div class="cd-half-width cd-img-width cd-img-container">
                            <img src="img/assets/info_graphic.png" alt="tech 1">
                        </div> <!-- .cd-half-width.cd-img-container -->
                    </div>
                </li>  
            </ul>